---
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import type { PrayerForTheYear } from "~/models/prayer-for-the-year";
import { Locale } from "~/enums/locale";
import { Message } from "~/constants/message";
import NetworkImage from "~/components/ui/network-image.astro";
import NetworkVideo from "~/components/ui/network-video.astro";
import type { BlocksContent } from "@strapi/blocks-react-renderer";
import StrapiBlocksRenderer from "~/components/ui/strapi-blocks-renderer";

const lang = getLangFromUrl(Astro.url);

const locale = lang === Locale.KOK ? Locale.KOK : Locale.EN;

interface Props {
  prayerData: PrayerForTheYear;
  baseUrl?: string;
}

const { prayerData, baseUrl } = Astro.props as Props;

const title =
  locale === Locale.KOK
    ? (prayerData?.kokTitle ?? prayerData?.enTitle)
    : (prayerData?.enTitle ?? prayerData?.kokTitle);

const logo =
  locale === Locale.KOK
    ? (prayerData?.kokLogo ?? prayerData?.enLogo)
    : (prayerData?.enLogo ?? prayerData?.kokLogo);

// Function to check if the prayer content is empty
const isPrayerEmpty = (prayer: BlocksContent | undefined) => {
  if (!prayer || prayer.length === 0) {
    return true;
  }

  if (Array.isArray(prayer)) {
    for (const block of prayer) {
      if (block.type === "paragraph" && block.children) {
        const hasText = block.children.some(
          (child) => child.type === "text" && child.text.trim() !== "",
        );
        if (hasText) {
          return false;
        }
      }
    }
  }
  return true;
};

const prayer =
  locale === Locale.KOK
    ? isPrayerEmpty(prayerData?.kokPrayer)
      ? prayerData?.enPrayer
      : prayerData?.kokPrayer
    : isPrayerEmpty(prayerData?.enPrayer)
      ? prayerData?.kokPrayer
      : prayerData?.enPrayer;

const additionalMedia = prayerData?.additionalMedia || [];

const getAudioURL = (src: string) => {
  const urlToUse = baseUrl
    ? new URL(src, baseUrl)
    : new URL(src, import.meta.env.PUBLIC_STRAPI_URL);

  return urlToUse.toString();
};
---

<h2
  class="mb-4 mt-4 border-b-2 border-b-natgeo-yellow pb-2 text-2xl font-bold lg:text-3xl"
>
  {title}
</h2>

<div class="w-full space-y-4">
  {
    logo && (
      <div class="w-full">
        <NetworkImage
          src={logo.url}
          alt={title}
          class="w-full object-contain md:h-[400px]"
          width={logo.width ?? 600}
          height={logo.height ?? 400}
        />
      </div>
    )
  }
  {
    prayer ? (
      <p>
        <StrapiBlocksRenderer
          content={prayer}
          paraClassName={
            lang === Locale.EN ? "font-roboto" : "font-noto-sans-kannada"
          }
        />
      </p>
    ) : (
      <p class="py-8 text-center text-3xl font-semibold">
        {Message.PRAYER_FOR_THE_YEAR_NOT_FOUND}
      </p>
    )
  }
  {
    additionalMedia.length > 0 && (
      <div class="mt-4 flex flex-col gap-5">
        {additionalMedia.map((media) =>
          media?.mime?.startsWith("image/") ? (
            <NetworkImage
              src={media.url}
              alt={media.alternativeText || "Additional Media"}
              width={media.width ?? 600}
              height={media.height ?? 400}
              class="w-full object-contain md:h-[400px]"
            />
          ) : media?.mime?.startsWith("video/") ? (
            <NetworkVideo
              src={media.url}
              class="w-full md:h-[400px]"
              width={media.width ?? 600}
              height={media.height ?? 400}
              muted
              controls
              autoplay
            />
          ) : (
            media?.mime?.startsWith("audio/") && (
              <audio
                src={getAudioURL(media.url)}
                class="w-full"
                controls
                muted
              />
            )
          ),
        )}
      </div>
    )
  }
</div>
