---
import {prayers} from '~/constants/prayer1';
---
<div class="mx-auto grid w-full grid-cols-2 gap-x-6 gap-y-6 xs:grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2">
    <div
      class="mx-auto grid w-full max-w-3xl grid-cols-2 gap-x-20 gap-y-10 xs:grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 border rounded-md"
    >
      <div class="card-content flex flex-1 flex-col justify-center items-center space-y-1 p-3">
        <h3
          class="card-title w-full text-center font-bold leading-snug text-slate-900 sm:text-lg"
        >
          In the name of the Father, <br />
          and of the Son, <br />
          of the Holy Spirit
        </h3>
      </div>
    </div>

    <div
    class="mx-auto grid w-full max-w-3xl grid-cols-2 gap-x-20 gap-y-10 xs:grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 border rounded-md"
  >
    <div class="card-content flex flex-1 flex-col justify-center items-center space-y-1 p-3">
      <h3
        class="card-title w-full text-center font-bold leading-snug text-slate-900 sm:text-lg"
      >
          Our Father
        </h3>
        <p class="text-center">{prayers[0].ourFather}</p>
      </div>
  </div>

  <div
      class="mx-auto grid w-full max-w-3xl grid-cols-2 gap-x-20 gap-y-10 xs:grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 border rounded-md"
    >
      <div class="card-content flex flex-1 flex-col justify-center items-center space-y-1 p-3">
        <h3
          class="card-title w-full text-center font-bold leading-snug text-slate-900 sm:text-lg"
        >
          Hail Mary
        </h3>
        <p class="text-center">{prayers[1].hailMary}</p>
      </div>
  </div>

  <div
      class="mx-auto grid w-full max-w-3xl grid-cols-2 gap-x-20 gap-y-10 xs:grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 border rounded-md"
    >
      <div class="card-content flex flex-1 flex-col justify-center items-center space-y-1 p-3">
        <h3
          class="card-title w-full text-center font-bold leading-snug text-slate-900 sm:text-lg"
        >
          Glory Be
        </h3>
        <p class="text-center">{prayers[2].gloryBe}</p>
      </div>
    </div>

    <div
      class="mx-auto grid w-full max-w-3xl grid-cols-2 gap-x-20 gap-y-10 xs:grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 border rounded-md"
    >
      <div class="card-content flex flex-1 flex-col justify-center items-center space-y-1 p-3">
        <h3
          class="card-title w-full text-center font-bold leading-snug text-slate-900 sm:text-lg"
        >
          Morning Offering
        </h3>
        <p class="text-center">{prayers[3].morningOffering}</p>
      </div>
    </div>

    <div
    class="mx-auto grid w-full max-w-3xl grid-cols-2 gap-x-20 gap-y-10 xs:grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 border rounded-md"
  >
    <div class="card-content flex flex-1 flex-col justify-center items-center space-y-1 p-3">
      <h3
        class="card-title w-full text-center font-bold leading-snug text-slate-900 sm:text-lg"
      >
        Consecration to Mary
        </h3>
        <p class="text-center">{prayers[4].consecrationToMary}</p>
      </div>
    </div>

    <div
    class="mx-auto grid w-full max-w-3xl grid-cols-2 gap-x-20 gap-y-10 xs:grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 border rounded-md"
  >
    <div class="card-content flex flex-1 flex-col justify-center items-center space-y-1 p-3">
      <h3
        class="card-title w-full text-center font-bold leading-snug text-slate-900 sm:text-lg"
      >
        Act of Faith
        </h3>
        <p class="text-center">{prayers[5].actOfFaith}</p>
      </div>
    </div>

    <div
    class="mx-auto grid w-full max-w-3xl grid-cols-2 gap-x-20 gap-y-10 xs:grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 border rounded-md"
  >
    <div class="card-content flex flex-1 flex-col justify-center items-center space-y-1 p-3">
      <h3
        class="card-title w-full text-center font-bold leading-snug text-slate-900 sm:text-lg"
      >
        Act of Hope
        </h3>
        <p class="text-center">{prayers[6].actOfHope}</p>
      </div>
    </div>

    <div
    class="mx-auto grid w-full max-w-3xl grid-cols-2 gap-x-20 gap-y-10 xs:grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 border rounded-md"
  >
    <div class="card-content flex flex-1 flex-col justify-center items-center space-y-1 p-3">
      <h3
        class="card-title w-full text-center font-bold leading-snug text-slate-900 sm:text-lg"
      >
        Act of Love
        </h3>
        <p class="text-center">{prayers[7].actOfLove}</p>
      </div>
    </div>

    <div
    class="mx-auto grid w-full max-w-3xl grid-cols-2 gap-x-20 gap-y-10 xs:grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 border rounded-md"
  >
    <div class="card-content flex flex-1 flex-col justify-center items-center space-y-1 p-3">
      <h3
        class="card-title w-full text-center font-bold leading-snug text-slate-900 sm:text-lg"
      >
        Act of Contrition
        </h3>
        <p class="text-center">{prayers[8].actOfContrition}</p>
      </div>
    </div>

    <div
    class="mx-auto grid w-full max-w-3xl grid-cols-2 gap-x-20 gap-y-10 xs:grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 border rounded-md"
  >
    <div class="card-content flex flex-1 flex-col justify-center items-center space-y-1 p-3">
      <h3
        class="card-title w-full text-center font-bold leading-snug text-slate-900 sm:text-lg"
      >
       Guardian Angel Prayer
        </h3>
        <p class="text-center">{prayers[9].guardianAngelPrayer}</p>
      </div>
    </div>

    <div
    class="mx-auto grid w-full max-w-3xl grid-cols-2 gap-x-20 gap-y-10 xs:grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 border rounded-md"
  >
    <div class="card-content flex flex-1 flex-col justify-center items-center space-y-1 p-3">
      <h3
        class="card-title w-full text-center font-bold leading-snug text-slate-900 sm:text-lg"
      >
      Eternal Rest Prayer
        </h3>
        <p class="text-center">{prayers[10].eternalRestPrayer}</p>
      </div>
    </div>
  </div>

  <div
  class="mx-auto grid w-full max-w-3xl grid-cols-2 gap-x-6 gap-y-6 xs:grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 border rounded-md mt-4"
>
  <div class="card-content flex flex-1 flex-col justify-center items-center space-y-1 p-3 gap-2">
    <h3
      class="card-title w-full text-center font-bold leading-snug text-slate-900 sm:text-lg"
    >
      The Angelus
    </h3>
    <p class="text-center" set:html={prayers[11].theAngelus}></p>
  </div>
</div>
</div>