---
import { cn } from '~/helpers/cn';
import HoverableLink from './ui/hoverable-link.astro';
import { Image } from 'astro:assets';
import { getLangFromUrl, useTranslations } from '~/i18n/utils';
import ShareLink from './ui/share-link.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

interface Props {
	eventName: string;
	eventNameKok: string;
	imageUrl: ImageMetadata;
	shortDescription: string;
	facebookLink?: string;
	slug: string;
	class?: string;
	instagramLink?: string;
}

const {
	eventName,
	eventNameKok,
	imageUrl,
	shortDescription,
	slug,
	class: className,
} = Astro.props;

const eventUrl = lang === 'en' ? `/events/${slug}/` : `/kok/events/${slug}/`;
---

<div
	class={cn(
		'hover:scale-[1.01] flex flex-col transform rounded-sm border transition-all duration-300 ease-in-out',
		className,
	)}
>
	<div class="event-image w-full">
		<Image
			src={imageUrl}
			alt={eventName}
			class="object-fit aspect-[1.2/0.7] rounded-t-sm duration-700 ease-in-out"
		/>
	</div>

	<div class="event-content p-4 font-noto-sans-kannada">
		<div class="flex flex-col gap-2">
			<h3 class="event-title text-xl font-bold text-slate-900">
				{eventNameKok}
			</h3>
			<p class="event-description pb-4 text-justify text-base text-slate-700">
				{shortDescription}
			</p>
		</div>
		<HoverableLink href={eventUrl}>
			{t('ui.more-button-read')}
		</HoverableLink>
		<ShareLink
			class="absolute bottom-4 right-4"
			shareData={{ url: eventUrl, title: eventName }}
		/>
	</div>
</div>
