---
import { cn } from '~/helpers/cn';
import HoverableLink from './ui/hoverable-link.astro';
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';
import { getLangFromUrl, useTranslations } from '~/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

interface Props {
	eventName: string;
	imageUrl: ImageMetadata;
	description: string;
	facebookLink: string;
	slug: string;
	class?: string;
}

const { eventName, imageUrl, description, slug, class: className } = Astro.props;

const eventUrl = lang === 'en' ? `/events/${slug}` : `/kok/events/${slug}`;

---

<div
	class={cn(
		'hover:scale-[1.01] flex flex-col transform rounded-sm border transition-all duration-300 ease-in-out',
		className,
	)}
>
	<div class="event-image w-full">
		<Image
			src={imageUrl}
			alt={eventName}
			class="object-fit aspect-[1.2/0.7] rounded-t-sm duration-700 ease-in-out"
		/>
	</div>

	<div class="event-content p-4">
		<div class="flex flex-col gap-2">
			<h3 class="event-title text-xl font-bold text-slate-900">
				{eventName}
			</h3>
			<p class="event-description justify pb-4 text-left text-base text-slate-700">
				{description}
			</p>
		</div>
		<HoverableLink href={eventUrl}>
			{t('ui.more-button-read')}
		</HoverableLink>
	</div>
</div>
