---
import { cn } from "~/helpers/cn";
import { Icon } from "astro-icon/components";
import NetworkImage from "./ui/network-image.astro";
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import { Locale } from "~/enums/locale";
import ShareLink from "./ui/share-link.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

interface Props {
  title: string;
  imageUrl: string;
  imageWidth: number;
  imageHeight: number;
  fileUrl: string | null;
  class?: string;
}

const {
  title,
  imageUrl,
  fileUrl,
  imageWidth,
  imageHeight,
  class: className,
  ...rest
} = Astro.props;

const slug = fileUrl
  ? new URL(fileUrl).pathname
      .split("/")
      .pop()
      ?.split("_")
      .slice(0, -1)
      .join("_")
      .replace(".pdf", "")
  : null;

const origin = Astro.url.origin;
const shareUrl = fileUrl && slug ? `${origin}/pompeichem-falkem/${slug}` : "#";
---

<div
  class={cn(
    "overflow-hidden border border-gray-200 max-w-md mx-auto bg-white",
    className,
  )}
  {...rest}
>
  <div class="magazine-image relative">
    <NetworkImage
      src={imageUrl}
      alt={title}
      width={imageWidth}
      height={imageHeight}
      class="w-full object-cover lg:h-[480px]"
    />
  </div>

  <div class="relative p-4 text-center">
    <div class="flex justify-center">
      <a
        href={fileUrl}
        download
        class="mt-1 inline-flex items-center gap-2 bg-blue-600 px-4 py-2 text-sm font-medium text-white shadow-md hover:bg-blue-700"
      >
        <Icon name="download" size={20} />
        <span class={cn({ "mt-2": lang === Locale.KOK })}>
          {t("download")}
        </span>
      </a>
    </div>

    <div class="absolute right-4 top-6">
      <ShareLink
        class=""
        shareData={{
          url: shareUrl,
          title: title,
        }}
      />
    </div>
  </div>
</div>
