---
import ScrollProgress from "~/components/ui/scroll-progress.astro";
import LanguageSwitcher from "~/components/language-switcher.astro";
import { getRelativeLocaleUrl } from "astro:i18n";
import { Icon } from "astro-icon/components";
import { cn } from "~/helpers/cn";
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import { navLinks } from "~/constants/nav-links.ts";
import { Locale } from "~/enums/locale";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<ScrollProgress />
<header class="sticky top-0 z-10 w-full shadow-sm bg-white p-3 xl:px-28">
  <section class="flex items-center justify-between">
    <a href={lang === Locale.KOK ? "/kok/" : "/"}>
      <img
        src="/temp-logo.webp"
        alt="Our Lady of Pompei Church logo"
        width={45}
        height={45}
      />
    </a>
    <div class="ml-auto hidden items-center lg:flex">
      <!-- Navbar for Web -->
      <ul
        class={cn("flex items-center gap-2", {
          "lg:pt-[0.5rem]": lang === Locale.KOK,
        })}
      >
        {
          navLinks
            .filter((link) => link.title !== "nav.home")
            .map((link) => (
              <li class="group relative">
                <a
                  href={
                    link.type === "link"
                      ? getRelativeLocaleUrl(lang, link.href || "")
                      : "#"
                  }
                  role={link.type === "expandable" ? "button" : undefined}
                  aria-haspopup={
                    link.type === "expandable" ? "true" : undefined
                  }
                  aria-expanded="false"
                  aria-label={t(link.title)}
                  class={cn(
                    "relative inline-block leading-none font-semibold transition-all duration-200 p-2 hover:bg-natgeo-yellow",
                    {
                      "top-[-0.15em]": lang === Locale.KOK,
                    },
                  )}
                >
                  {t(link.title)}
                </a>
                {link.type === "expandable" && link.expandedLinks && (
                  <ul class="absolute top-full hidden w-60  bg-white p-2 shadow-md group-hover:block">
                    {link.expandedLinks.map((sublink) => (
                      <li class="w-full">
                        <a
                          href={getRelativeLocaleUrl(lang, sublink.href)}
                          class={cn(
                            "block  px-2 py-2 text-sm transition-all hover:bg-natgeo-yellow font-normal",
                            {
                              "font-[350]": lang === Locale.KOK,
                            },
                          )}
                        >
                          {t(sublink.title)}
                        </a>
                      </li>
                    ))}
                  </ul>
                )}
              </li>
            ))
        }
      </ul>
    </div>
    <div class="flex flex-row-reverse">
      <div
        id="hamburger"
        class="ml-3 flex cursor-pointer flex-col items-end lg:hidden"
      >
        <Icon name="menu" class="mt-1" size={35} />
      </div>
      <div class="ml-5">
        <LanguageSwitcher />
      </div>
    </div>
  </section>
</header>

<nav
  id="navbar"
  class="fixed inset-0 z-[101] w-full overflow-y-auto bg-white px-6 py-6
         transform translate-x-full transition-transform duration-200 ease-out
         [&.open]:translate-x-0"
>
  <Icon
    name="cancel"
    id="hamburger-close"
    class="relative ml-auto cursor-pointer rounded-full text-3xl"
  />
  <!-- Navbar for mobile -->
  <ul class="flex flex-col gap-y-5">
    {
      navLinks.map((link) => (
        <li>
          <a
            data-expandable-links={
              link.type === "expandable" ? "true" : "false"
            }
            href={
              link.type === "link" ? getRelativeLocaleUrl(lang, link.href) : "#"
            }
            class={cn(
              "group flex items-center justify-between font-bold text-xl text-black transition-colors",
              {
                "font-extrablack": lang === Locale.EN,
              },
            )}
          >
            <span
              class={cn("transition-all duration-150", {
                "mt-[4px]": lang === Locale.KOK,
              })}
            >
              {t(link.title)}
            </span>

            {link.type === "expandable" && (
              <Icon
                name="chevron-right"
                class="stroke-2 text-3xl transition-transform duration-200 ease-out"
                data-icon-name="chevron-right"
              />
            )}
          </a>
          {link.type === "expandable" && (
            <ul class="mt-2 max-h-0 overflow-hidden transition-[max-height] duration-500 ease-out">
              {link.expandedLinks.map((sublinks) => (
                <li>
                  <a
                    href={getRelativeLocaleUrl(lang, sublinks.href)}
                    class={cn(
                      "group mb-4 flex items-center justify-between text-2xl transition-colors",
                      { "font-[350]": lang === Locale.KOK },
                    )}
                  >
                    <span class="text-lg font-normal transition-all duration-150">
                      {t(sublinks.title)}
                    </span>
                  </a>
                </li>
              ))}
            </ul>
          )}
        </li>
      ))
    }
  </ul>
</nav>

<script>
  import { handleNav } from "~/scripts/handle-nav";
  handleNav();
</script>
