---
import { cn } from "~/helpers/cn.ts";
import NetworkImage from "./ui/network-image.astro";

interface Props {
  title: string;
  imageUrl: string;
  imageWidth?: number;
  imageHeight?: number;
  subtitle: string;
  class?: string;
}

const {
  title,
  subtitle,
  class: className,
  imageUrl,
  imageWidth,
  imageHeight,
} = Astro.props;
---

<div
  class={cn(
    "w-64 snap-start first:snap-align-none max-w-xs flex-shrink-0 border border-gray-200 bg-white duration-200 ease-in-out sm:w-64",
    className,
  )}
>
  <div class="card-image flex-none">
    <NetworkImage
      src={imageUrl}
      width={imageWidth ?? 300}
      height={imageHeight ?? 300}
      alt={`${title} ${subtitle} of Our Lady of Pompei Church`}
      class="h-[300px] w-full object-cover"
    />
  </div>

  <div class="flex flex-1 flex-col justify-end space-y-1 p-3">
    <p class="text-lg font-bold leading-snug text-gray-900">
      {title}
    </p>
    <p class="text-gray-900">
      {subtitle}
    </p>
  </div>
</div>
