---
import { Image } from 'astro:assets';
import { cn } from '~/helpers/cn';

interface Props {
	name: string;
	imageUrl: ImageMetadata;
	description: string;
	ward: string;
	class?: string;
}

const { name, description, ward, class: className, imageUrl } = Astro.props;
---

<div
	class={cn(
		'hover:scale-[1.01] snap-start first:snap-align-none border duration-500 ease-in-out sm:w-full',
		className,
	)}
>
	<div class="card-image">
		<Image
			src={imageUrl}
			alt="Image"
			width={300}
			class="h-auto w-full rounded-md object-cover"
		/>
	</div>

	<div class="card-content mt-2 flex flex-1 flex-col justify-end space-y-1 p-4">
		<h3
			class="card-title line-clamp-1 text-lg font-extrabold text-slate-900 sm:text-lg"
			title={name}
		>
			{name}
		</h3>
		{
			description && (
				<p class="card-description line-clamp-3 text-base text-slate-700 sm:text-lg">
					{description}
				</p>
			)
		}
		{
			ward && (
				<p class="card-ward line-clamp-3 text-sm font-semibold text-slate-600 sm:text-base">
					Ward: {ward}
				</p>
			)
		}
	</div>
</div>
