---
import { cn } from '~/helpers/cn';
import NetworkImage from './ui/network-image.astro';

interface Props {
	name: string;
	imageUrl: string;
	imageWidth: number;
	imageHeight: number;
	age: number;
	description: string;
	ward: string;
	dateOfDeath: string;
	class?: string;
}

const {
	name,
	description,
	age,
	ward,
	dateOfDeath,
	imageWidth,
	imageHeight,
	class: className,
	imageUrl,
	...rest
} = Astro.props;
---

<div
	class={cn(
		'hover:scale-[1.01] snap-start h-full first:snap-align-none border duration-500 ease-in-out rounded-sm sm:w-[95%] md:w-[85%] lg:w-[75%]',
		className,
	)}
	{...rest}
	style={{ maxWidth: '350px' }}
>
	<div class="card-image aspect-[2.3/3] w-full overflow-hidden rounded-sm">
		<NetworkImage
			src={imageUrl}
			alt={`Image of ${name}`}
			width={imageWidth}
			height={imageHeight}
			class="h-full w-full object-cover max-h-[500px]"
		/>
	</div>
	<div
		class="card-content mt-2 flex flex-1 flex-col justify-end space-y-1 p-4 font-noto-sans-kannada"
	>
		<h3
			class="card-title line-clamp-1 text-xl font-extrabold text-slate-900"
			title={name}
		>
			{name}
		</h3>
		{
			description && (
				<p class="card-description line-clamp-3 text-lg text-slate-700">
					{description}
				</p>
			)
		}
		{
			age && (
				<p class="card-age line-clamp-3 text-lg text-slate-700">
					ಪ್ರಾಯ್ : {age}
				</p>
			)
		}
		{
			ward && (
				<p class="card-ward line-clamp-3 text-lg text-slate-700">
					ವಾಡೊ : {ward}
				</p>
			)
		}
		{
			dateOfDeath && (
				<p class="card-ward line-clamp-3 text-lg text-slate-700">
					ಮರಣ್ : {dateOfDeath}
				</p>
			)
		}
	</div>
</div>