---
import { Image } from "astro:assets";
import { cn } from "~/helpers/cn.ts";
import NetworkImage from "./ui/network-image.astro";
import placeholderImage from "~/assets/static-assets/blank.jpeg";

interface Props {
  src: string;
  width: number;
  height: number;
  alt?: string;
  class?: string;
  name: string;
  position: string;
}

const { src, width, height, class: className, name, position } = Astro.props;
---

<div
  class={cn(
    "w-64 snap-start first:snap-align-none max-w-xs shrink-0 bg-white border border-gray-200 duration-200 ease-in-out sm:w-64",
    className,
  )}
>
  <div class="flex-none">
    {
      src ? (
        <NetworkImage
          src={src}
          width={width}
          height={height}
          alt={`${position} of Our Lady of Pompei Church`}
          class="h-75 w-full object-cover"
        />
      ) : (
        <Image
          src={placeholderImage}
          alt="Blank Profile Image"
          class="h-75 w-full object-cover"
          width={width}
          height={height}
        />
      )
    }
  </div>

  <div class="flex flex-1 flex-col justify-end space-y-1 p-3 text-black">
    <p class="text-lg font-bold leading-snug text-slate-900">
      {name}
    </p>
    <p class="text-slate-700">
      {position}
    </p>
  </div>
</div>
