---
import { Image } from 'astro:assets';
import { cn } from '~/helpers/cn.ts';

interface Props {
	title: string;
	imageUrl: ImageMetadata;
	subtitle: string;
	class?: string;
}

const { title, subtitle, class: className, imageUrl } = Astro.props;
---

<div
	class={cn(
		'w-64 snap-start first:snap-align-none max-w-xs flex-shrink-0 border duration-200 ease-in-out sm:w-64',
		className,
	)}
>
	<div class="card-image flex-none">
		<Image
			src={imageUrl}
			alt={`${title} ${subtitle} of Our Lady of Pompei Church`}
			class="h-[300px] w-full object-cover"
		/>
	</div>

	<div class="card-content flex flex-1 flex-col justify-end space-y-1 p-3">
		<h3 class="card-title text-lg font-bold leading-snug text-slate-900">
			{title}
		</h3>
		<p class="card-subtitle text-md text-slate-600">
			{subtitle}
		</p>
	</div>
</div>
