---
import { Image } from 'astro:assets';
import { cn } from '~/helpers/cn';
import { getLangFromUrl, useTranslations } from '~/i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

interface Props {
	name: string;
	imageUrl: ImageMetadata;
	date?: string;
	subtitle?: string;
	class?: string;
	term1?: string;
	term2?: string;
}

const { name, date, subtitle, class: className, imageUrl, term1, term2 } = Astro.props;
---

<div
	class={cn(
		'hover:scale-[1.01] snap-start first:snap-align-none max-w-xs flex-shrink-0 rounded-md border sm:w-64',
		className,
		'w-[230px] h-[410px]',
	)}
>
	<div class="card-image flex-none">
		<Image
			src={imageUrl}
			alt={`Image of ${name}`}
			class="h-[300px] w-full rounded-md object-cover"
		/>
	</div>

	<div class="card-content flex flex-1 flex-col justify-end space-y-1 p-3">
		<h3
			class="card-title pt-1 font-bold leading-snug text-slate-900 sm:text-lg"
			title={name}
		>
			{name}
		</h3>
		{date && (
			<p class="card-date text-slate-700">
				{t('priest.service-period')}:{' '}
				<span class="font-semibold">{date}</span>
			</p>
		)}
		{term1 && (
			<p class="card-term1 text-slate-700">
				{t('priest.term1')}:{' '}
				<span class="font-semibold">{term1}</span>
			</p>
		)}
		{term2 && (
			<p class="card-term2 text-slate-700">
				{t('priest.term2')}:{' '}
				<span class="font-semibold">{term2}</span>
			</p>
		)}
		{subtitle && (
			<p class="card-subtitle line-clamp-3 text-slate-600 sm:text-sm">
				{subtitle}
			</p>
		)}
	</div>
</div>
