---
import { Image } from 'astro:assets';
import { cn } from '~/helpers/cn';
import { getLangFromUrl, useTranslations } from '~/i18n/utils';
import NetworkImage from './ui/network-image.astro';
import blankImage from '~/assets/parish-priests/blank.jpeg';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

interface Props {
  name: string;
  url?: string;
  date?: string;
  subtitle?: string;
  class?: string;
  width?: number;
  height?: number;
}

const {
  name,
  url,
  date,
  subtitle,
  class: className,
  width,
  height,
} = Astro.props;
---

<div
	class={cn(
		'hover:scale-[1.01] snap-start first:snap-align-none max-w-xs flex-shrink-0 rounded-md border sm:w-64',
		className,
		'w-[230px] h-[410px]',
	)}
>
  <div class="card-image flex-none">
    {
      url ? (
        <NetworkImage
          src={url}
          width={width || 300}
          height={height || 300}
          class="h-[300px] w-full object-cover"
        />
      ) : (
        <Image
          src={blankImage}
          alt="Blank Profile Image"
          class="h-[300px] w-full object-cover"
          width={width}
          height={height}
        />
      )
    }
  </div>

  <div class="card-content flex flex-1 flex-col justify-end space-y-1 p-3">
    <h3
      class="card-title pt-1 font-bold leading-snug text-slate-900 sm:text-lg"
      title={name}
    >
      {name}
    </h3>
    {
      date && (
        <p class="card-date text-slate-700">
          {t("priest.service-period")}:{" "}
          <span class="font-semibold">{date}</span>
        </p>
      )
    }
    {
      subtitle && (
        <p class="card-subtitle line-clamp-3 text-slate-600 sm:text-sm">
          {subtitle}
        </p>
      )
    }
  </div>
</div>