---
interface Subtitle {
  commission: string;
  name: string;
}

interface Props {
  convenor: string;
  title: string;
  subtitles?: Subtitle[];
}

const { convenor, title, subtitles } = Astro.props;
const uniqueId = Math.random().toString(36).substring(2, 9);
---

<div class="border  border-yellow-600 rounded-md w-full max-w-3xl mx-auto my-10  ">
  <div class="flex justify-between items-center p-3 bg-yellow-200 cursor-pointer dropdown-toggle" data-dropdown-id={uniqueId}>
    <h3 class="font-semibold text-lg">{title}</h3>
    <span class="arrow transform transition-transform">&#x25BC;</span>
  </div>

  <div class="dropdown-content overflow-hidden pl-3 border-t border-gray-300" data-dropdown-id={uniqueId}>
    <div class="mt-2">
      <p><strong>Convenor:</strong> <span class="text-gray-500">{convenor}</span></p>
    </div>
    <ul class="list-none space-y-2 mt-2 mb-2">
      {subtitles?.map((subtitle) => (
        <li><strong>{subtitle.commission}</strong> : <span class="text-gray-500">{subtitle.name}</span></li>
      ))}
    </ul>

  </div>
</div>

<style>
  .dropdown-content {
    max-height: 0;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    overflow: hidden;
  }
  .dropdown-content.open {
    max-height: 1000px;
    opacity: 1;
  }
  .arrow {
    transition: transform 0.3s ease;
  }
  .arrow.rotate {
    transform: rotate(180deg);
  }
</style>

<script>
  document.querySelectorAll('.dropdown-toggle').forEach(toggle => {
    toggle.addEventListener('click', function() {
      const dropdownId = this.getAttribute('data-dropdown-id');
      const dropdownContent = document.querySelector(`.dropdown-content[data-dropdown-id="${dropdownId}"]`);
      const arrow = this.querySelector('.arrow');
      const isOpen = dropdownContent.classList.contains('open');

      if (isOpen) {
        dropdownContent.style.maxHeight = dropdownContent.scrollHeight + 'px';
        dropdownContent.offsetHeight;
        dropdownContent.style.maxHeight = '0';
        dropdownContent.classList.remove('open');
        arrow.classList.remove('rotate');
      } else {
        dropdownContent.style.maxHeight = dropdownContent.scrollHeight + 'px';
        dropdownContent.classList.add('open');
        arrow.classList.add('rotate');
      }
    });
  });
</script>
