---
import { Image } from 'astro:assets';
import { getLangFromUrl, useTranslations } from '~/i18n/utils';

export interface Props {
  imageUrl: ImageMetadata;
  name: string;
  ward: string;
  dob?: string;
  dod?: string;
  congregation ?: string;
  parents?: string;
  role?: string;
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const { imageUrl, name, ward, dob, dod, congregation, parents, role } = Astro.props;
---

<div class="vocation-card hover:scale-[1.01] hover:shadow-md rounded-md border p-5 text-center max-w-md mx-auto transition-all duration-300 ease-in-out">
  <div class="relative w-[230px] h-[300px] md:w-[210px] md:h-[280px] mx-auto mb-6 rounded-full overflow-hidden border-4 border-gray-200 shadow-md">
    <Image
      src={imageUrl}
      alt={name}
      class="w-full h-full object-cover"
      sizes="(max-width: 768px) 50vw, 25vw"
    />
  </div>

  <div class="details">
    <h3 class="text-lg lg:text-xl  font-semibold text-red-700 mb-2">{name}</h3>

    {congregation && role && (
      <p class="text-md lg:text-sm text-blue-700 font-medium mb-2">
        {congregation}
      </p>
    )}
    {ward && <p class="text-md lg:text-sm text-gray-600 italic mb-1"><span class="font-semibold">{t('vocation.ward')}</span> {ward}</p>}
    {dob && <p class="text-md lg:text-sm text-gray-600 mb-1"><span class="font-semibold">{t('vocation.dob')}</span> {dob}</p>}
    {dod && <p class="text-md lg:text-sm text-gray-600 mb-1"><span class="font-semibold">{t('vocation.dod')}</span> {dod}</p>}
    {parents && role && (
      <p class="text-md lg:text-sm text-gray-600 mb-1">
        <span class="font-semibold">
          {role === 'nun' ? t('vocation.do') : t('vocation.so')}
        </span>
        {parents}
      </p>
    )}
  </div>
</div>
