---
import { Image } from "astro:assets";
import { Locale } from "~/enums/locale";
import { cn } from "~/helpers/cn";
import { getLangFromUrl } from "~/i18n/utils";

const lang = getLangFromUrl(Astro.url);

interface Props {
  name: string;
  imageUrl: ImageMetadata;
  subtitle?: string;
  class?: string;
  term?: string;
  term1?: string;
  term2?: string;
}

const { name, class: className, imageUrl, term, term1, term2 } = Astro.props;
---

<div
  class={cn(
    "snap-start first:snap-align-none max-w-xs flex-shrink-0 border border-gray-200 sm:w-64",
    className,
    "w-[250px] h-auto md:h-[440px]",
  )}
>
  <div class="flex-none">
    <Image
      src={imageUrl}
      alt={`Image of ${name}`}
      class="h-[300px] w-full object-cover"
    />
  </div>

  <div
    class={cn("flex flex-1 flex-col justify-end space-y-1 p-3", {
      "font-bold": lang === Locale.KOK,
    })}
  >
    <h3
      class="pt-1 font-bold leading-snug text-blue-800 sm:text-lg"
      title={name}
    >
      {name}
    </h3>
    {
      term && (
        <p class="text-black">
          <b>I</b> : <span class="font-semibold text-red-400">{term}</span>
        </p>
      )
    }
    {
      term2 && (
        <p class="text-black">
          <b>II</b> : <span class="font-semibold text-red-400">{term2}</span>
        </p>
      )
    }
    {
      term1 && (
        <p class="text-black">
          <b>I</b> : <span class="font-semibold text-red-400">{term1}</span>
        </p>
      )
    }
  </div>
</div>
