---
import Layout from "~/layouts/layout.astro";
import Pagination from "~/components/pagination.astro";
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import { getPaginationRange } from "~/helpers/get-pagination-range";
import { listEvents } from "~/services/events/list-events";
import { listAssociations } from "~/services/associations/list-associations";
import EventsList from "~/components/sections/events/events-list.astro";
import { Message } from "~/constants/message.ts";
import { Locale } from "~/enums/locale";
import { cn } from "~/helpers/cn";
import PushNotification from "~/components/push-notification.astro";
import { ITEMS_PER_PAGE } from "~/constants/index.ts";
import SelectAssociationRedirect from "~/components/ui/SelectAssociationRedirect";
import EventSearch from "~/components/EventSearch";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const currentPage = Number(Astro.url.searchParams.get("p")) || 1;

const { events, pagination } = await listEvents({
  page: currentPage,
  pageSize: ITEMS_PER_PAGE,
});

const associations = await listAssociations({ locale: lang as Locale });

const totalPages = pagination.pageCount;

const firstEvent = events?.[0];

const ogImageUrl = firstEvent?.eventImage?.url
  ? new URL(
      firstEvent.eventImage.url,
      import.meta.env.PUBLIC_STRAPI_URL,
    ).toString()
  : undefined;

const ogTitle = lang === Locale.KOK ? "ಘಡಿತಾಂ" : "Events";

const ogDescription =
  lang === Locale.KOK
    ? "ಫಿರ್ಗಜ್ ಕುಟ್ಮಾಚ್ಯಾ ಎಕ್ವಟ್ಪಣಾಚ್ಯೊ ಘಡಿಯೊ"
    : "Celebrating the moments that unite our parish community.";
const pageTitle = totalPages > 1 ? `Page ${currentPage} | ${ogTitle}` : ogTitle;

const emptyStateMessage =
  lang === Locale.KOK ? Message.EVENTS_NOT_FOUND_KOK : Message.EVENTS_NOT_FOUND;
---

<Layout
  title=`${pageTitle}`
  image={ogImageUrl}
  description={ogDescription}
>
  <main class="mx-auto max-w-5xl overflow-hidden bg-white">
    <section id="events" class="flex flex-col p-6 lg:p-8">
      <PushNotification />

      <div class="flex flex-col gap-4 pb-5">
        <h1
          class={cn(
            "border-natgeo-yellow border-l-4 pl-3 text-left text-3xl lg:text-4xl font-black mb-2",
            { "pt-3.25 font-bold": lang === Locale.KOK },
          )}
        >
          {t("nav.events")}
        </h1>

        <div
          class="flex flex-col gap-4 md:flex-row md:items-center md:justify-between"
        >
          <div class="order-1 w-full md:order-1 md:max-w-md">
            <EventSearch client:load locale={lang as Locale} />
          </div>

          {
            associations.length > 0 && (
              <div class="order-2 w-full md:order-2 md:max-w-md md:ml-auto">
                <SelectAssociationRedirect
                  client:load
                  associations={associations}
                  placeholder={t("association.select-label")}
                  allLabel={t("all")}
                />
              </div>
            )
          }
        </div>
      </div>

      <p class="mb-4 text-lg font-normal text-slate-700">
        {t("events.subtitle")}
      </p>
      {
        events.length > 0 ? (
          <>
            <EventsList events={events} />
            <Pagination
              currentPage={currentPage}
              totalPages={totalPages}
              getPaginationRange={getPaginationRange}
            />
          </>
        ) : (
          <p class="py-8 text-center text-3xl font-semibold">
            {emptyStateMessage}
          </p>
        )
      }
    </section>
  </main>
</Layout>
