---
import Layout from "~/layouts/layout.astro";
import DynamicGallery from "~/components/sections/gallery/dynamic-gallery.astro";
import { listGalleryAlbums } from "~/services/gallery/list-gallery-albums";
import Pagination from "~/components/pagination.astro";
import { getPaginationRange } from "~/helpers/get-pagination-range";
import { ITEMS_PER_PAGE } from "~/constants/index.ts";
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import { Locale } from "~/enums/locale";
import { cn } from "~/helpers/cn";

const pageParam = Number(Astro.url.searchParams.get("p") ?? "1");
const page = Number.isFinite(pageParam) && pageParam > 0 ? pageParam : 1;

const pageSize = 1;
const { albums, pagination } = await listGalleryAlbums({ page, pageSize });

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const title = t("nav.gallery");
const description = t("gallery.description");

const ogImageUrl = albums?.[0]?.images?.[0]?.url
  ? new URL(albums[0].images[0].url, import.meta.env.PUBLIC_STRAPI_URL).toString()
  : undefined;
---

<Layout title={`${title}`} description={description} image={ogImageUrl}>
  <main class="mx-auto max-w-screen-lg overflow-hidden bg-white">
    <section id="gallery" class="flex flex-col p-6 pb-4">
      <h1
        class={cn(
          "font-black border-natgeo-yellow mb-2 border-l-4 pl-3 text-3xl lg:text-4xl",
          {
            "font-bold": lang === Locale.KOK,
          },
        )}
      >
        {t("gallery.title")}
      </h1>
      <p class="text-justify text-lg text-slate-700">
        {description}
      </p>
      <DynamicGallery albums={albums} />
      <Pagination currentPage={page} totalPages={pagination.pageCount} getPaginationRange={getPaginationRange} />
    </section>
  </main>
</Layout>
