---
import Layout from '~/layouts/layout.astro';
import rosaMysticaHs from '~/assets/rosa-mystica-hs.jpg';
import rosaMysticaHrps from '~/assets/rosa-mystica-hrps.jpg';
import bethanySchool from '~/assets/bethany-school.jpg';
import jeevadaan from '~/assets/jeevadaan.jpg';
import snehasadan from '~/assets/snehasadan.jpg';
import institutionDummyImage from '~/assets/institution-dummy.jpg';
import { getImage } from 'astro:assets';
import { Image } from 'astro:assets';

const optimizedInstitutionImage = await getImage({
	src: institutionDummyImage,
});
---

<Layout title="Pompei Church | Our Institutions">
	<main class="overflow-hidden bg-white">
		<section
			style={`background-image: url(${optimizedInstitutionImage.src});`}
			class="relative flex h-[250px] w-full items-center justify-center bg-black/60 bg-cover bg-center px-10 text-white bg-blend-darken"
		>
			<div class="text-center">
				<h1 class="font-poppins text-4xl font-extrabold sm:text-6xl">
					INSTITUTIONS
				</h1>
				<p class="text-roboto mt-4 text-lg text-white">
					Explore our mission and the institutions that help make it possible.
				</p>
			</div>
		</section>

		<section id="our-institutions" class="my-8 bg-white">
			<div class="px-6">
				<h2
					class="mb-1 border-l-4 border-yellow-400 pl-3 font-poppins text-3xl font-bold"
				>
					Rosa Mystica Educational Institutions
				</h2>
			</div>
			<div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
				<div class="mb-2 mt-6 bg-white px-6">
					<Image
						src={rosaMysticaHs}
						alt="Rosa Mystica High School"
						class="rounded-sm"
					/>

					<h2 class="mt-2 text-xl font-bold text-slate-900">
						• Rosa Mystica High School, Kinnikambla, Mangalore (Estd: 1958)
					</h2>
					<p class="mt-4 text-justify text-lg text-slate-700">
						Rosa Mystica High School was opened in the year 1958. As there was
						no facility for the secondary education of the children of this
						area, they had to travel to distant places like Bajpe or Kulshekar.
						Hence seeing this need, Sr Edburge, who was the Headmistress of the
						TTI, took the bold initiative to start a high school to cater to the
						educational needs of the children, especially those who pass out of
						Rosa Mystica Higher Primary School. So, 20th June 1958 became a
						red-letter day in the annals of Rosa Mystica as the High School was
						opened on this day.
					</p>
					<p class="mt-4 text-justify text-lg text-slate-700">
						In 1966, co-education was started. Rosa Mystica High School, with
						three sections in each, had the strength of 420 students. With the
						hard work of all Headmistresses and the committed services of the
						staff, the high school saw all-round development in the later years.
						In the year 2008, the Golden Jubilee of the school was celebrated.
					</p>
					<p class="mt-4 text-justify text-lg text-slate-700">
						The Headmistresses who served this institute are Sr Edburge BS, Sr
						Mithis BS, Sr Mariette BS, Sr Valentine BS, Sr Mediatrice BS, Sr
						Helmina BS, Sr Donalda BS, Sr Cicilia Mendonca, Sr Marie Ange BS, Sr
						Gloriosa BS, Sr Ivilla BS, Sr Vidya BS, Sr Joyceline BS, and
						currently Sr Lolita Pereira BS.
					</p>
					<p class="mt-4 text-justify text-lg text-slate-700">
						This institute has special blessings of Saint Teresa of Calcutta,
						who paid a visit to Rosa Mystica on 29th December 1980. In her
						address, she spoke about religious vocation and her concern about
						the poor in India and our duty to serve them.
					</p>
					<br />
					<Image
						src={rosaMysticaHrps}
						alt="Rosa Mystica Higher Primary School"
						class="rounded-sm"
					/>
					<h2 class="mt-2 text-xl font-bold text-slate-900">
						• Rosa Mystica Higher Primary School
					</h2>
					<p class="mt-4 text-justify text-lg text-slate-700">
						Rosa Mystica Higher Primary School is the fruit of the far-sighted
						vision of the Servant of God Mgr. R.F.C Mascarenhas, the Founder of
						Bethany Congregation. It took its birth in 1939, a small step taken
						by Bethany, which has gone a long way in changing the face of Rosa
						Mystica as the school plays a vital role in catering to the
						all-round development and welfare of the students of backward
						classes and in the fulfillment of the vision, goal, and core values
						of Bethany Educational Society.
					</p>
					<p class="mt-4 text-justify text-lg text-slate-700">
						Currently, there are 625 Students with 11 Staff and 4 Substitute
						Teachers. They cater to the rural poor and the marginalized of the
						locality and others as well. The opportunities for the blooming of
						the students, including Karate, art, band, clubs, and bull-bull
						classes, are provided. The Headmistress, along with its staff,
						strives towards fullness of life imbued with the core values of
						Bethany Educational Society. While doing this, it aims at becoming
						an effective agent for the transformation of society.
					</p>
					<address class="mt-4 text-justify text-lg text-slate-900">
						<strong>Address:</strong><br />
						Rosa Mystica Higher Primary School<br />
						Kinnikambla Post, DK, Dt - 574151<br />
						<br />
						<strong>Telephone No.:</strong> 0824-2259835<br />
						<strong>E-mail ID:</strong>
						<a
							href="mailto:rosamysticahps@gmail.com"
							class="text-blue-600 underline">rosamysticahps@gmail.com</a
						><br />
						<br />
						<strong>Year of Establishment:</strong> 1939<br />
						<strong>Status:</strong> I - VII<br />
						<strong>Aided/Unaided:</strong> Aided<br />
						<strong>Affiliated to:</strong> Karnataka State Board<br />
						<strong>Headmistress:</strong> Sr Prashanthi BS<br />
						<strong>Correspondent:</strong> Sr Concetta BS
					</address>
				</div>

				<div class="mx-10 border-t-2 border-yellow-300"></div>

				<div class="bg-white px-6">
					<h2
						class="mb-5 border-l-4 border-yellow-400 pl-3 font-poppins text-3xl font-bold"
					>
						Bethany School (CBSE)
					</h2>

					<Image
						src={bethanySchool}
						alt="Bethany School Image"
						class="rounded-sm"
					/>

					<p class="mt-4 text-justify text-lg text-slate-700">
						Bethany School Kinnikambla, was established on 30th May 2014 and is
						administrated by the Bethany Educational Society, Mangaluru, a
						Christian Religious Minority Institution. The Bethany Educational
						Society is registered under the Society’s Registration Act of 1860
						with registration No. 17 of 1948-49. Its office is at Bethany
						Convent, Mangaluru.
					</p>
					<p class="mt-4 text-justify text-lg text-slate-700">
						All the members of the Bethany Educational Society are Catholic nuns
						belonging to the Congregation of the Sisters of the Little Flower of
						Bethany. Bethany school was established for the education of all
						irrespective of caste, creed and religion.
					</p>
					<address class="text-justify-left mt-4 text-lg text-slate-900">
						<strong>Address:</strong><br />
						Bethany School, Kinnikambla,<br />
						Mangalore, Karnataka 574151<br />
						<br />
						<strong>Phone:</strong> 0824-2258656<br />
						<strong>E-mail ID:</strong>
						<a
							href="mailto:rosamysticahps@gmail.com"
							class="text-blue-600 underline"
						>
							bethanyschoolkinnikambla@gmail.com</a
						><br />
						<strong>Website:</strong>
						<a href="https://bethanyschool.in" class="text-blue-600 underline">
							https://bethanyschool.in</a
						><br />
						<br />
						<strong>Year of Establishment:</strong> 2014<br />
					</address>
				</div>

				<div class="mx-10 border-t-2 border-yellow-300"></div>

				<div class="bg-white px-6">
					<h2
						class="mb-5 border-l-4 border-yellow-400 pl-3 font-poppins text-3xl font-bold"
					>
						Jeevadaan
					</h2>

					<Image src={jeevadaan} alt="Jeevadaan Image" class="rounded-sm" />

					<p class="mt-4 text-justify text-lg text-slate-700">
						'Jeevadaan' is their only ray of hope. They know that their life is
						short and society will not accept them as they are infected by the
						dreaded HIV/AIDS virus. They also have no money to live
						independently and lack the strength to work hard. But 'Jeevadan' has
						created a space for them to live a decent life till their death.
					</p>
					<p class="mt-4 text-justify text-lg text-slate-700">
						The St Camillus congregation, known for serving the sick and the
						poor all over the world, set up this home for HIV/AIDS patients here
						in Kaikamba, Kinnikambla, located about 20 kms from the city. The
						nuns decided to serve HIV/AIDS patients as it is a fast-spreading
						disease in the coastal region.
					</p>
					<p class="mt-4 text-justify text-lg text-slate-700">
						Of the 38 patients here currently, 20 are females and the rest are
						children. The children study at the Rosa Mystica School in
						Kinnikambla. Most women patients here contracted the virus through
						their husbands. Sumitra (name changed), a resident of Puttur,
						married a person from Udupi.
					</p>
				</div>

				<div class="mx-10 border-t-2 border-yellow-300"></div>

				<div class="bg-white px-6">
					<h2
						class="mb-5 border-l-4 border-yellow-400 pl-3 font-poppins text-3xl font-bold"
					>
						Snehasadan
					</h2>
					<Image src={snehasadan} alt="Snehasadan Image" class="rounded-sm" />
					<p class="mt-4 text-justify text-lg text-slate-700">
						Snehasadan is a comprehensive care and support centre for children
						living with HIV, managed by Sneha Charitable Trust. A 60-bedded
						centre, Snehasadan has been a Home of Love for people living with
						HIV since 2001. It is the third initiative of Camillians in India.
						The orphan and vulnerable children are provided with a platform that
						ensures their growth in an atmosphere of love, care, and compassion.
						Snehasadan envisions total health for all by promoting a culture of
						life and ensuring human dignity in the given reality.
					</p>
					<h4 class="mb-2 mt-4 text-xl font-semibold text-slate-800">
						Mission
					</h4>
					<p class="mt-4 text-justify text-lg text-slate-700">
						The specific mission of Snehasadan is to provide comprehensive care
						to people living with HIV, with a priority for infected children and
						those in the end stage of their disease, by motivating, caring,
						supporting, and rehabilitating them.
					</p>
					<h4
						class="mb-2 mt-4 text-justify text-lg font-semibold text-slate-800"
					>
						Major goals of Snehasadan are:
					</h4>
					<ul class="mt-4 list-inside list-disc text-lg text-slate-800">
						<li>
							To provide quality care for the neglected and the poor sick;
						</li>
						<li>
							To provide treatment, nutrition, and relaxation for the wellbeing
							of the persons;
						</li>
						<li>
							To restore self-confidence and encourage changes in life-styles
							through behavioral interventions;
						</li>
						<li>To provide self-employment through rehabilitation services;</li>
						<li>
							To provide information and education through outreach programs.
						</li>
					</ul>
				</div>
			</div>
		</section>
	</main>
</Layout>
