---
import Layout from "~/layouts/layout.astro";
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import ParishPastoralCouncilList from "~/components/sections/parish-pastoral-council/parish-pastoral-council-list.astro";
import type { ParishPastoralCouncil } from "~/models/parish-pastoral-council";
import { listPastoralCouncilData } from "~/services/parish-pastoral-council/parish-pastoral-council-data.ts";
import { getPastoralCouncilImage } from "~/services/parish-pastoral-council/parish-pastoral-council-image.ts";
import { Message } from "~/constants/message.ts";
import { Locale } from "~/enums/locale";
import { cn } from "~/helpers/cn";
import { getPlaceholderImage } from "~/helpers/get-placeholder-image";

const lang = getLangFromUrl(Astro.url) as Locale;
const t = useTranslations(lang);

const parishPastoralCouncilData: ParishPastoralCouncil[] =
  lang === Locale.EN
    ? await listPastoralCouncilData({ page: 1, pageSize: 100 })
    : await listPastoralCouncilData({ page: 1, pageSize: 100, locale: Locale.KOK }) || [];
const parishPastoralCouncilImage = await getPastoralCouncilImage();


const ogImage = parishPastoralCouncilImage?.pastoralCouncilImage?.formats?.medium?.url
  ? new URL(parishPastoralCouncilImage.pastoralCouncilImage.formats.medium.url, import.meta.env.PUBLIC_STRAPI_URL).toString()
  : parishPastoralCouncilImage?.pastoralCouncilImage?.url
    ? new URL(parishPastoralCouncilImage.pastoralCouncilImage.url, import.meta.env.PUBLIC_STRAPI_URL).toString()
    : getPlaceholderImage({
        width: 800,
        height: 600,
        text: "Parish Pastoral Council",
      });

const ogTitle = lang === Locale.KOK
  ? "ಗೊವ್ಳಿಕ್ ಪರಿಷಧ್"
  : "Parish Pastoral Council";

---

<Layout title={ogTitle}  image={ogImage}>
  <main class="mx-auto max-w-4xl overflow-hidden bg-white">
    <section id="pastoral-council" class="flex flex-col p-6 pb-4">
      <h1
        class={cn(
          "border-natgeo-yellow border-l-4 pl-3 text-3xl font-black lg:text-4xl",
          {
            "font-bold": lang === Locale.KOK,
          },
        )}
      >
        {t("parish.pastoral-parishad")}
      </h1>
      {
        parishPastoralCouncilData.length > 0 ? (
          <ParishPastoralCouncilList
            pastoralCouncilData={parishPastoralCouncilData}
            pastoralCouncilImage={parishPastoralCouncilImage}
          />
        ) : (
          <p class="py-8 text-center text-3xl font-semibold">
            {Message.COUNCIL_MEMBERS_NOT_FOUND}
          </p>
        )
      }
    </section>
  </main>
</Layout>