---
import Layout from "~/layouts/layout.astro";
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import ReligiousPriestsList from "~/components/sections/religious-priests/religious-priests-list.astro";
import ReligiousNunsList from "~/components/sections/religious-nuns/religious-nuns-list.astro";
import { Locale } from "~/enums/locale";
import { ReligiousVocationRole } from "~/enums/religious-vocation-role";
import { cn } from "~/helpers/cn";
import { getReligiousVocations } from "~/services/religious-vocations/get-religious-vocations";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const locale = lang === Locale.KOK ? Locale.KOK : Locale.EN;
const baseURL = import.meta.env.PUBLIC_STRAPI_URL;
const [priests, nuns] = await Promise.all([
  getReligiousVocations(locale, ReligiousVocationRole.PRIEST),
  getReligiousVocations(locale, ReligiousVocationRole.NUN),
]);
const rawImageUrl = priests[0]?.imageUrl;
const ogImageUrl = rawImageUrl
  ? new URL(rawImageUrl, baseURL).toString()
  : undefined;
const ogTitle = t("vocation.page-title");
const ogDescription = t("vocation.page-description");
---

<Layout description={ogDescription} title={ogTitle} image={ogImageUrl}>
  <main class="mx-auto max-w-screen-lg overflow-hidden bg-white">
    <section id="parish-priests" class="flex flex-col p-6 lg:p-8">
      <h1
        class={cn(
          "border-natgeo-yellow border-l-4 pl-3 text-left text-3xl lg:text-4xl font-black",
          { "pt-[13px] font-bold": lang === Locale.KOK },
        )}
      >
        {t("nav.religious-vocations")}
      </h1>
      <p
        class="pb-6 pt-4 lg:pb-8 text-lg text-justify font-normal text-slate-700"
      >
        {t("vocation.title")}
      </p>
      <h2 class="mt-6 text-3xl font-semibold italic text-red-600 lg:text-3xl">
        {t("vocation.subtitle1")}
      </h2>
      {
        priests.length > 0 ? (
          <ReligiousPriestsList priests={priests} />
        ) : (
          <p class="py-6 text-lg text-slate-500 italic">
            {t("vocation.no-priests")}
          </p>
        )
      }
      <h2 class="mt-6 text-3xl font-semibold italic text-red-600 lg:text-3xl">
        {t("vocation.subtitle2")}
      </h2>
      {
        nuns.length > 0 ? (
          <ReligiousNunsList nuns={nuns} />
        ) : (
          <p class="py-6 text-lg text-slate-500 italic">
            {t("vocation.no-nuns")}
          </p>
        )
      }
    </section>
  </main>
</Layout>
