---
import { vicePresidents } from "~/constants/ex-vp-secretaries";
import { getLangFromUrl, useTranslations } from "~/i18n/utils";

import VpsecCard from "~/components/vpsec-card.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div
  class="grid-cols-1 mx-auto grid w-full max-w-7xl gap-x-6 gap-y-10 px-4 pt-10 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3"
>
  {
    vicePresidents.map((vp) => (
      <VpsecCard
        class="m-auto"
        imageUrl={vp.imageUrl}
        name={t(`vp.${vp.name}`)}
        term={vp.term}
        term1={vp.term1}
        term2={vp.term2}
      />
    ))
  }
</div>
