---
import HoverableLink from "~/components/ui/hoverable-link.astro";
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import EventCard from "~/components/event-card.astro";
import { Message } from "~/constants/message.ts";

import { cn } from "~/helpers/cn";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const eventsUrl = lang === Locale.EN ? "/events" : "/kok/events";

import { listEvents } from "~/services/events/list-events";
import { Locale } from "~/enums/locale";
import { getPlaceholderImage } from "~/helpers/get-placeholder-image";
import PushNotification from "~/components/push-notification.astro";

const data = (await listEvents({ page: 1, pageSize: 3 })) || [];
---

<section
  class="mx-6 mt-4 flex flex-col lg:mx-28 lg:min-h-[70svh] lg:justify-evenly"
  id="events"
>
<PushNotification />
  <h1
    data-aos="fade-right"
    class={cn(
      "font-black mb-6 inline-block border-l-4 border-natgeo-yellow pl-3 text-2xl lg:text-4xl",
      {
        "font-extrabold pt-2": lang === Locale.KOK,
      },
    )}
  >
    {t("nav.events")}
  </h1>

  {
    data.events?.length > 0 ? (
      <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 md:gap-4 lg:grid-cols-3 lg:gap-8">
        {data.events.map((event) => (
          <EventCard
            eventName={event.englishTitle}
            eventNameKok={event.konkaniTitle}
            imageUrl={
              event?.eventImage?.url
                ? new URL(
                    event?.eventImage?.url,
                    import.meta.env.PUBLIC_STRAPI_URL,
                  ).toString()
                : getPlaceholderImage()
            }
            imageWidth={event?.eventImage?.width || 300}
            imageHeight={event?.eventImage?.height || 300}
            shortDescription={event.shortDescription}
            facebookLink={event.facebookLink}
            slug={event.slug}
          />
        ))}
      </div>
    ) : (
      <p class="py-8 text-center text-3xl font-semibold">
        {Message.EVENTS_NOT_FOUND}
      </p>
    )
  }

  {
    data.events.length > 0 && (
      <div class="flex justify-center">
        <HoverableLink href={eventsUrl} class="m-5">
          {t("ui.show-more-events")}
        </HoverableLink>
      </div>
    )
  }
</section>
