---
import HoverableLink from '~/components/ui/hoverable-link.astro';
import { getLangFromUrl, useTranslations } from '~/i18n/utils';
import EventCard from '~/components/event-card.astro';

import { cn } from '~/helpers/cn';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const eventsUrl = lang === 'en' ? '/events' : '/kok/events';

import { listEvents } from '~/services/events/list-events';

const data = (await listEvents({pageSize: 100})) || [];
---

<section
	class="mx-6 mt-4 flex flex-col lg:mx-28 lg:min-h-[70svh] lg:justify-evenly"
>
	<h1
		data-aos="fade-right"
		class={cn(
			'mb-6 inline-block border-l-4 border-natgeo-yellow pl-3 font-poppins text-3xl font-extrabold xs:text-2xl lg:text-4xl',
			{
				'font-noto-sans-kannada': lang === 'kok',
			},
		)}
	>
		{t('nav.events')}
	</h1>

	{
		data.length > 0 ? (
			<div class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 md:gap-4 lg:grid-cols-3 lg:gap-8">
				{data.slice(0, 3).map((event) => (
					<EventCard
						eventName={event.englishTitle}
						eventNameKok={event.konkaniTitle}
						imageUrl={event.eventImage?.url}
						imageWidth={event.eventImage?.width}
						imageHeight={event.eventImage?.height}
						shortDescription={event.shortDescription}
						facebookLink={event.facebookLink}
						slug={event.slug}
					/>
				))}
			</div>
		) : (
			<p class="py-8 text-center text-3xl font-semibold">No Events Found!</p>
		)
	}

	{
		data.length > 3 && (
			<div class="flex justify-center">
				<HoverableLink href={eventsUrl} class="m-5">
					{t('ui.show-more-events')}
				</HoverableLink>
			</div>
		)
	}
</section>
