---
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import { cn } from "~/helpers/cn";
import HoverableLink from "~/components/ui/hoverable-link.astro";
import ObituaryCardMin from "~/components/ObituaryCardMin.tsx";
import { getPlaceholderImage } from "~/helpers/get-placeholder-image";
import { listObituaries } from "~/services/obituaries/list-obituaries";
import { Message } from "~/constants/message.ts";
import { Locale } from "~/enums/locale";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const obituaryLink = lang === Locale.EN ? "/obituary" : "/kok/obituary";

const { obituaries } = await listObituaries({ page: 1, pageSize: 5 });

const obituaryDataFormatted = obituaries.map((obituary) => ({
  ...obituary,
  dateOfDeath: obituary.dateOfDeath
    ? new Date(obituary.dateOfDeath).toISOString()
    : "",
  slug:
    obituary.slug ??
    `${(obituary.englishName ?? "").replace(/\s+/g, "-").toLowerCase()}-${obituary.id}`,
}));
---

<section
  class="mt-1 flex flex-col lg:mx-28 lg:mb-3 lg:min-h-[70svh] lg:justify-evenly"
>
  <h1
    class={cn(
      "font-black mx-6 mb-4 inline-block border-l-4 border-natgeo-yellow pl-3 text-2xl lg:mx-0 lg:text-4xl",
      { "font-extrabold pt-2": lang === Locale.KOK },
    )}
  >
    {t("nav.obituary")}
  </h1>

  {
    obituaryDataFormatted.length > 0 ? (
      <>
        <div class="my-4 flex w-full space-x-8 overflow-x-auto pl-6 pr-3 scrollbar-none lg:flex-wrap lg:justify-center lg:space-x-8 lg:overflow-x-visible xl:space-x-10 overflow-y-visible">
          {obituaryDataFormatted.slice(0, 5).map((o, i) => (
            <div
              class={cn(
                "flex-none relative h-full",
                i === 4 ? "lg:hidden overflow-hidden" : "",
              )}
            >
              <ObituaryCardMin
                client:load
                id={o.id}
                name={lang === "kok" ? o.konkaniName : o.englishName}
                imageUrl={
                  o.image?.url
                    ? new URL(
                        o.image.url,
                        import.meta.env.PUBLIC_STRAPI_URL,
                      ).toString()
                    : getPlaceholderImage({
                        text: o.englishName,
                        width: 340,
                        height: 400,
                      })
                }
                dateOfDeath={o.dateOfDeath}
                age={o.age}
                slug={o.slug}
                youtubeLink={o.youtubeLink}
                blurred={i === 4}
                homeTime={o.homeTime}
                massTime={o.massTime}
                funeralDate={o.funeralDate}
                className="h-full"
                funeralDetailsUpdatedOn={o.funeralDetailsUpdatedOn}
                autoFlip={true}
              />
            </div>
          ))}
        </div>

        {/* Only on desktop, show a View All button below */}
        <div class="hidden justify-center pb-2 lg:flex">
          <HoverableLink href={obituaryLink}>{t("ui.view-all")}</HoverableLink>
        </div>
      </>
    ) : (
      <p class="py-8 text-center text-3xl font-semibold">
        {Message.OBITUARIES_NOT_FOUND}
      </p>
    )
  }
</section>
