---
import { getLangFromUrl, useTranslations } from '~/i18n/utils';
import { cn } from '~/helpers/cn';

import HoverableLink from '~/components/ui/hoverable-link.astro';
import Card from '~/components/pastoral-council-card.astro';
import { listObituaries } from '~/services/obituaries/list-obituaries';

// import { obituaryData } from '~/constants/obituary-list';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const obituaryLink = lang === 'en' ? '/obituary' : '/kok/obituary';

const obituaryData = await listObituaries();
---

<section
	class="mt-1 flex flex-col lg:mx-28 lg:mb-3 lg:min-h-[70svh] lg:justify-evenly"
>
	<h1
		data-aos="fade-right"
		class={cn(
			'mx-6 mb-4 inline-block border-l-4 border-natgeo-yellow pl-3 font-poppins text-[27px] font-extrabold xs:text-2xl lg:mx-0 lg:text-4xl',
			{
				'font-noto-sans-kannada': lang === 'kok',
			},
		)}
	>
		{t('nav.obituary')}
	</h1>

	<div
		class="my-4 flex w-full scroll-ml-6 space-x-8 overflow-x-auto overflow-y-hidden pl-3 pr-3 scrollbar-none lg:justify-center xl:space-x-10"
	>
		{
			obituaryData?.slice(0, 4)
				.map((obituary) => (
					<Card
						imageUrl={obituary.image.url}
						title={obituary.name + ` (${obituary.age})`}
						subtitle={`ಮರಣ್ : ` + obituary.dateOfDeath}
					/>
				))
		}

		<div
			class="flex-shrink-0 transform snap-start border shadow-sm transition-all duration-200 ease-in-out overflow-hidden lg:hidden"
		>
			<div class="opacity-50 blur-md">
				{obituaryData && obituaryData[4] && (
					<Card
						imageUrl={obituaryData[4].image.url}
						imageWidth={obituaryData[4].image.width}
						imageHeight={obituaryData[4].image.height}
						title={obituaryData[4].name + ` (${obituaryData[4].age})`}
						subtitle={`ಮರಣ್ : ` + obituaryData[4].dateOfDeath}
					/>
				)}
			</div>
			<div class="absolute inset-0 flex items-center justify-center">
				<HoverableLink
					href={obituaryLink}
					class="mb-2 mt-2 inline-block text-xl font-bold text-black"
				>
					{t('ui.view-all')}
				</HoverableLink>
			</div>
		</div>
	</div>

	<div class="hidden justify-center pb-2 lg:flex">
		<HoverableLink href={obituaryLink}>
			{t('ui.view-all')}
		</HoverableLink>
	</div>

</section>
