---
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import { cn } from "~/helpers/cn";
import HoverableLink from "~/components/ui/hoverable-link.astro";
import ObituaryCard from "~/components/ObituaryCard";
import { getPlaceholderImage } from "~/helpers/get-placeholder-image";
import { listObituaries } from "~/services/obituaries/list-obituaries";
import { Message } from "~/constants/message.ts";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const obituaryLink = lang === Locale.EN ? "/obituary" : "/kok/obituary";

import { format } from "date-fns";
import { Locale } from "~/enums/locale";

const { obituaries } = await listObituaries({ page: 1, pageSize: 5 });

const obituaryDataFormatted = obituaries.map((obituary) => ({
  ...obituary,
  dateOfDeath: obituary.dateOfDeath
    ? new Date(obituary.dateOfDeath).toISOString()
    : "",
  slug:
    obituary.slug ??
    `${(obituary.englishName ?? "").replace(/\s+/g, "-").toLowerCase()}-${obituary.id}`,
}));
---

<section
  class="mt-1 flex flex-col lg:mx-28 lg:mb-3 lg:min-h-[70svh] lg:justify-evenly"
>
  <h1
    data-aos="fade-right"
    class={cn(
      "font-black mx-6 mb-4 inline-block border-l-4 border-natgeo-yellow pl-3 text-2xl lg:mx-0 lg:text-4xl",
      { "font-extrabold pt-2": lang === Locale.KOK },
    )}
  >
    {t("nav.obituary")}
  </h1>

  {
    obituaryDataFormatted.length > 0 ? (
      <>
        {/* Mobile Scrollable */}
        <div
          class="my-4 flex w-full space-x-4 overflow-x-auto pl-6 pr-3 scrollbar-none lg:hidden"
          style="scrollbar-width: none; -ms-overflow-style: none;"
        >
          {obituaryDataFormatted.slice(0, 3).map((o, i) => (
            <div class="flex-none w-72 max-w-xs">
              <ObituaryCard
                client:only="react"
                id={`${o.id}`}
                age={o.age}
                name={lang === "kok" ? o.konkaniName : o.englishName}
                imageUrl={
                  o.image?.url
                    ? new URL(
                        o.image.url,
                        import.meta.env.STRAPI_URL,
                      ).toString()
                    : getPlaceholderImage()
                }
                imageWidth={o.image?.width ?? 0}
                imageHeight={o.image?.height ?? 0}
                dateOfDeath={o.dateOfDeath}
                slug={o.slug}
                funeralDetails={o.funeralDetails}
                funeralDetailsUpdatedAt={o.funeralDetailsUpdatedAt}
                youtubeLink={o.youtubeLink}
                minimal={true}
                autoFlip={!!o.funeralDetails && i === 0}
                className="h-full"
              />
            </div>
          ))}

          {/* 4th blurred card */}
          {obituaryDataFormatted[3] && (
            <div class="flex-none w-72 max-w-xs">
              <ObituaryCard
                client:only="react"
                id={`${obituaryDataFormatted[3].id}`}
                age={obituaryDataFormatted[3].age}
                slug={obituaryDataFormatted[3].slug}
                blurred={true}
                imageUrl={
                  obituaryDataFormatted[3]?.image?.url
                    ? new URL(
                        obituaryDataFormatted[3].image.url,
                        import.meta.env.STRAPI_URL,
                      ).toString()
                    : getPlaceholderImage()
                }
                name={
                  lang === "kok"
                    ? obituaryDataFormatted[3]?.konkaniName
                    : obituaryDataFormatted[3]?.englishName
                }
                imageWidth={obituaryDataFormatted[3]?.image?.width ?? 0}
                imageHeight={obituaryDataFormatted[3]?.image?.height ?? 0}
                dateOfDeath={obituaryDataFormatted[3]?.dateOfDeath}
                minimal={true}
                className="h-full"
              />
            </div>
          )}
        </div>

        {/* Desktop */}
        <div class="hidden lg:flex flex-wrap justify-center gap-6 w-full">
          {obituaryDataFormatted.slice(0, 4).map((obituary, i) => (
            <div class="flex-none w-72 max-w-xs">
              <ObituaryCard
                client:only="react"
                id={`${obituary.id}`}
                name={
                  lang === "kok" ? obituary.konkaniName : obituary.englishName
                }
                imageUrl={
                  obituary.image?.url
                    ? new URL(
                        obituary.image.url,
                        import.meta.env.STRAPI_URL,
                      ).toString()
                    : getPlaceholderImage()
                }
                imageWidth={obituary.image?.width ?? 0}
                imageHeight={obituary.image?.height ?? 0}
                dateOfDeath={obituary.dateOfDeath}
                age={obituary.age}
                slug={obituary.slug}
                funeralDetails={obituary.funeralDetails}
                funeralDetailsUpdatedAt={obituary.funeralDetailsUpdatedAt}
                youtubeLink={obituary.youtubeLink}
                minimal={true}
                autoFlip={!!obituary.funeralDetails && i === 0}
                className="h-full"
              />
            </div>
          ))}
        </div>
        <div class="hidden lg:flex justify-center pb-2 pt-4">
          <HoverableLink href={obituaryLink}>{t("ui.view-all")}</HoverableLink>
        </div>
      </>
    ) : (
      <p class="py-8 text-center text-3xl font-semibold">
        {Message.OBITUARIES_NOT_FOUND}
      </p>
    )
  }
</section>
