---
import { getLangFromUrl, useTranslations } from '~/i18n/utils';
import HoverableLink from '~/components/ui/hoverable-link.astro';
import Card from '~/components/pastoral-council-card.astro';
import johnLobo from '~/assets/mr-john-lobo.jpg';
import priestImage from '~/assets/fr-rudolph-dsa.jpg';
import vicepresident from '~/assets/vp-image.jpg';
import ayogPresident from '~/assets/ayog-president.jpg';
import praveenLobo from '~/assets/mr-praveen-lobo.jpg';
import { cn } from '~/helpers/cn';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const councilUrl =
	lang === 'en' ? '/parish-pastoral-council' : '/kok/parish-pastoral-council';
---

<section
	class="mt-6 flex flex-col lg:mx-28 lg:mb-3 lg:min-h-[70svh] lg:justify-evenly"
>
	<h1
		data-aos="fade-right"
		class={cn(
			'mx-6 mb-4 inline-block border-l-4 border-natgeo-yellow pl-3 font-poppins text-[27px] font-extrabold xs:text-2xl lg:mx-0 lg:text-4xl',
			{
				'font-noto-sans-kannada': lang === 'kok',
			},
		)}
	>
		{t('landing.pastoral-parishad')}
	</h1>

	<div
		class="my-4 flex w-full scroll-ml-6 space-x-8 overflow-x-auto overflow-y-hidden pl-3 pr-3 scrollbar-none lg:justify-center xl:space-x-10"
	>
		<Card
			imageUrl={priestImage}
			subtitle={t('landing.priest')}
			title={t('landing.priest-name')}
		/>
		<Card
			imageUrl={vicepresident}
			subtitle={t('landing.vice-president')}
			title={t('landing.vp-name')}
		/>
		<Card
			imageUrl={johnLobo}
			subtitle={t('landing.secretary')}
			title={t('landing.secretary-name')}
		/>
		<Card
			imageUrl={ayogPresident}
			subtitle={t('landing.pastoral-commission-coordinator')}
			title={t('landing.pastoral-commission-coordinator-name')}
		/>

		<div
			class="flex-shrink-0 transform snap-start border shadow-sm transition-all duration-200 ease-in-out lg:hidden"
		>
			<div class="opacity-50 blur-md">
				<Card
					imageUrl={praveenLobo}
					subtitle={t('landing.pastoral-commission-coordinator')}
					title={t('landing.pastoral-commission-coordinator-name')}
				/>
			</div>
			<div class="absolute inset-0 flex items-center justify-center">
				<HoverableLink
					href={councilUrl}
					class="mb-2 mt-2 inline-block text-xl font-bold text-black"
				>
					{t('ui.view-all')}
				</HoverableLink>
			</div>
		</div>
	</div>

	<div class="hidden justify-center lg:flex">
		<HoverableLink href={councilUrl}>
			{t('ui.view-all')}
		</HoverableLink>
	</div>
</section>
