---
import { getLangFromUrl, useTranslations } from '~/i18n/utils';
import { Image } from 'astro:assets';
import { cn } from '~/helpers/cn';
import { upcomingEvents } from '~/constants/upcoming-events';

import { fromZonedTime } from 'date-fns-tz';

//Components
import EmblaCarosuel from '~/components/ui/embla-carousel.astro';
import EmblaCarosuelItem from '~/components/ui/embla-carousel-item.astro';

import stayTuned from '~/assets/upcoming-events/stay-tuned.png';
import stayTunedKok from '~/assets/upcoming-events/stay-tuned-kok.png';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const today = new Date();

const filteredEvents = upcomingEvents.filter((event) => {
	return fromZonedTime(event.endDate, 'Asia/Kolkata') > today;
});

const images =
	filteredEvents.length > 0
		? filteredEvents.map((event) => ({
				src: event.eventImg,
				width: event.eventImg.width,
				height: event.eventImg.height,
				alt: 'Upcoming Event',
			}))
		: [
				{
					src: lang === 'kok' ? stayTunedKok : stayTuned,
					width: (lang === 'kok' ? stayTunedKok : stayTuned).width, // Ensure width is included
					height: (lang === 'kok' ? stayTunedKok : stayTuned).height, // Ensure height is included
					alt: 'Stay Tuned',
				},
		  ];
---

<!-- This commented code is for fallback purpose  --><!-- <section
	class="mx-6 mb-4 flex flex-col lg:mx-28 lg:min-h-[70svh] lg:justify-evenly"
>
	<h1
		data-aos="fade-right"
		class={cn(
			'mb-6 inline-block border-l-4 border-natgeo-yellow pl-3 font-poppins text-3xl font-extrabold xs:text-2xl lg:text-4xl',
			{
				'font-noto-sans-kannada': lang === 'kok',
			},
		)}
	>
		{t('landing.upcoming-events')}
	</h1>
	<div class="flex flex-col justify-center gap-4 md:flex-row md:gap-6">
		{
			filteredEvents.length > 0 ? (
				filteredEvents.map((event) => (
					<Image
						src={event.eventImg}
						alt="Upcoming Event"
						class={event.class}
					/>
				))
			) : (
				<Image
					src={lang === 'kok' ? stayTunedKok : stayTuned}
					alt="Stay Tuned"
					class="w-full rounded-sm object-cover md:w-1/3"
				/>
			)
		}
	</div>
</section> -->
<section
	class="mx-6 mb-6 mt-3 flex flex-col lg:mx-28 lg:min-h-[70svh] lg:justify-evenly"
>
	<h1
		data-aos="fade-right"
		class={cn(
			'mb-6 inline-block border-l-4 border-natgeo-yellow pl-3 font-poppins text-3xl font-extrabold xs:text-2xl lg:text-4xl',
			{ 'font-noto-sans-kannada': lang === 'kok' },
		)}
	>
		{t('landing.upcoming-events')}
	</h1>

	<!-- Mobile UI -->
	{
		filteredEvents.length > 1 ? (
			<div class="event-gallery -mx-[1.5rem] block md:hidden">
				<EmblaCarosuel showArrows={true}>
					{images.map((image) => (
						<EmblaCarosuelItem>
							<a
								href="javascript:void(0);"
								data-pswp-src={image.src.src}
								data-pswp-width={image.width}
								data-pswp-height={image.height}
								>
								<Image src={image.src} alt={image.alt} class="w-full" />
							</a>
						</EmblaCarosuelItem>
					))}
				</EmblaCarosuel>
			</div>
		) : (
			<div class="event-gallery block md:hidden">
				<a
					href="javascript:void(0);"
					data-pswp-src={images[0].src.src}
					data-pswp-width={images[0].width}
					data-pswp-height={images[0].height}
					>
					<Image src={images[0].src} alt={images[0].alt} class="w-full" />
				</a>
			</div>
		)
	}

	<!-- Web UI -->
	<div class="event-gallery hidden md:flex justify-center items-center gap-4">
		{
			images.map((image) => (
				<div class="relative md:w-1/4"> <!-- Ensure a fixed width for centering -->
					<a
						href="javascript:void(0);"
						data-pswp-src={image.src.src}
						data-pswp-width={image.width}
						data-pswp-height={image.height}
						class="block w-full"
					>
						<Image src={image.src} alt={image.alt} class="rounded-sm w-full" />
					</a>
				</div>
			))
		}
	</div>

</section>

<script>
	import 'photoswipe/style.css';
	import PhotoSwipeLightbox from 'photoswipe/lightbox';

	const eventLightbox = new PhotoSwipeLightbox({
		mainClass: 'pswp--custom-icon-colors',
		gallery: '.event-gallery',
		children: 'a',
		pswpModule: () => import('photoswipe'),
	});

	eventLightbox.init();
</script>