---
import PullDown from "~/components/pull-down.astro";
import type { CommissionBlock } from "~/models/parish-pastoral-21-commission";

const { pastoral21Commissions } = Astro.props;

const coordinatorData = pastoral21Commissions[0].coordinatorName;
---

<h2 class="text-xl font-normal text-gray-800">
  {
    (
      <span>
        <strong>{coordinatorData?.position}</strong>
        <span>: {coordinatorData?.name}</span>
      </span>
    )
  }
</h2>
<div class="mx-auto mb-2 max-w-4xl">
  {
    pastoral21Commissions[0].commissions.map((c: CommissionBlock) => (
      <PullDown
        title={c.commissionTitle}
        subCommissions={c.subCommissions}
        convenor={c.convenor}
      />
    ))
  }
</div>
