---
import PullDown from "~/components/pull-down.astro";
import { cn } from "~/helpers/cn";
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import { Locale } from "~/enums/locale";
import type { CommissionBlock } from "~/models/parish-pastoral-21-commission";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const fontClass =
  lang === Locale.KOK ? "font-noto-sans-kannada" : "font-roboto";

const { pastoral21Commissions } = Astro.props;

const coordinatorData = pastoral21Commissions[0].coordinatorName;
---

<h2
  class={cn("font-roboto text-xl font-normal text-gray-800", {
    "font-noto-sans-kannada": lang === Locale.KOK,
  })}
>
  {
      <strong>{coordinatorData?.position}</strong>
      <span>: {coordinatorData?.name}</span>
  }
</h2>
<div class={`mx-auto mb-2 max-w-4xl ${fontClass}`}>
  {
    pastoral21Commissions[0].commissions.map((c: CommissionBlock) => (
      <PullDown
        title={c.commissionTitle}
        subCommissions={c.subCommissions}
        convenor={c.convenor}
      />
    ))
  }
</div>
