---
import churchBannerImage from '~/assets/church-banner.jpg';
import { parishHistory } from '~/constants/parish-history';
import { Image } from 'astro:assets';
---

<div class="lg:mx-72">
  <div class="mb-2 mt-6 rounded-lg bg-white px-6">
    <div class="md:float-right md:ml-6">
      <Image src={churchBannerImage} alt="Church Banner Image" />
    </div>
    {
      parishHistory.intro.map((paragraph, index) => (
        <p key={index} class="mt-4 text-justify font-poppins text-lg text-slate-700">
          {paragraph}
        </p>
      ))
    }
    {
      parishHistory.priests.map((priest, index) => (
        <div key={index} class="mt-6 clear-right">
          <h3 class="text-lg font-bold text-slate-900">
            {priest.name} ({priest.years})
          </h3>
          <p class="mt-2 text-justify text-lg text-slate-700">
            {priest.description}
          </p>
        </div>
      ))
    }
  </div>
</div>

