---
import '@fontsource/bona-nova-sc';
import '@fontsource/noto-sans-kannada';
import '@fontsource/poppins';
import '@fontsource/geist-sans';
import poppinsRegular from '@fontsource/poppins/files/poppins-latin-500-normal.woff2?url';
import notoSansKannadaRegualar from '@fontsource/noto-sans-kannada/files/noto-sans-kannada-latin-500-normal.woff2?url';
import poppinsSemibold from '@fontsource/poppins/files/poppins-latin-600-normal.woff2?url';
import notoSansKannadaSemiBold from '@fontsource/noto-sans-kannada/files/noto-sans-kannada-latin-600-normal.woff2?url';
import 'aos/dist/aos.css';
import { getLangFromUrl } from '~/i18n/utils';
import Navbar from '~/components/navbar.astro';
import Footer from '~/components/footer.astro';
import ScrollTop from '~/components/scroll-top.astro';
import churchLogo from '~/assets/church-logo.png'

const lang = getLangFromUrl(Astro.url);

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
		/>
		<link rel="icon" type="image/png" href={churchLogo.src} />

		<link
			rel="preload"
			as="font"
			type="font/woff2"
			href={poppinsRegular}
			crossorigin="anonymous"
		/>
		<link
			rel="preload"
			as="font"
			type="font/woff2"
			href={notoSansKannadaRegualar}
			crossorigin="anonymous"
		/>
		<link
			rel="preload"
			as="font"
			type="font/woff2"
			href={poppinsSemibold}
			crossorigin="anonymous"
		/>
		<link
			rel="preload"
			as="font"
			type="font/woff2"
			href={notoSansKannadaSemiBold}
			crossorigin="anonymous"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="w-screen overflow-x-hidden">
		<Navbar />
		<slot />
		<Footer />
		<ScrollTop />
	</body>
	<script>
		import { aosInit } from '~/helpers/aos-config';
		aosInit();
	</script>
</html>
