---
import Layout from '~/layouts/layout.astro';
import type { ImageMetadata } from 'astro';

import { Image } from 'astro:assets';
import churchHeroImage from '~/assets/mary-grotto.jpg';

import { getLangFromUrl, useTranslations } from '~/i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import { associations } from '~/constants/associations-kok';

export async function getStaticPaths() {
	const pages = [
		{
			slug: 'svp',
			title: 'SVP',
			associationImage: '../../assets/svp.jpg',
			officeBearers: [
				{ name: 'Charlie Brown', position: 'Ward Gurkaar' },
				{ name: 'Emily Davis', position: 'Ward Secretary' },
			],
		},
		{
			slug: 'icym-pyc',
			title: 'ICYM - PYC',
			associationImage: '../../assets/svp.jpg',
			officeBearers: [
				{ name: 'Charlie Brown', position: 'Ward Gurkaar' },
				{ name: 'Emily Davis', position: 'Ward Secretary' },
			],
		},
		{
			slug: 'altar-servers',
			title: 'Altar Servers',
			associationImage: '../../assets/svp.jpg',
			officeBearers: [
				{ name: 'Charlie Brown', position: 'Ward Gurkaar' },
				{ name: 'Emily Davis', position: 'Ward Secretary' },
			],
		},
		{
			slug: 'catholic-sabha',
			title: 'Catholic Sabha',
			associationImage: '../../assets/svp.jpg',
			officeBearers: [
				{ name: 'Charlie Brown', position: 'Ward Gurkaar' },
				{ name: 'Emily Davis', position: 'Ward Secretary' },
			],
		},
		{
			slug: 'ycs',
			title: 'Young catholic students',
			associationImage: '../../assets/svp.jpg',
			officeBearers: [
				{ name: 'Charlie Brown', position: 'Ward Gurkaar' },
				{ name: 'Emily Davis', position: 'Ward Secretary' },
			],
		},
		{
			slug: 'secular-franciscan',
			title: 'Secular Franciscan',
			associationImage: '../../assets/svp.jpg',
			officeBearers: [
				{ name: 'Charlie Brown', position: 'Ward Gurkaar' },
				{ name: 'Emily Davis', position: 'Ward Secretary' },
			],
		},
		{
			slug: 'catechism',
			title: 'Catechism',
			associationImage: '../../assets/svp.jpg',
			officeBearers: [
				{ name: 'Charlie Brown', position: 'Ward Gurkaar' },
				{ name: 'Emily Davis', position: 'Ward Secretary' },
			],
		},
		{
			slug: 'small-christian-community',
			title: 'Small Christian Community',
			associationImage: '../../assets/svp.jpg',
			officeBearers: [
				{ name: 'Charlie Brown', position: 'Ward Gurkaar' },
				{ name: 'Emily Davis', position: 'Ward Secretary' },
			],
		},
		{
			slug: 'gurpur-choir',
			title: 'Gurpur Choir',
			associationImage: '../../assets/svp.jpg',
			officeBearers: [
				{ name: 'Charlie Brown', position: 'Ward Gurkaar' },
				{ name: 'Emily Davis', position: 'Ward Secretary' },
			],
		},
		{
			slug: 'womens-forum',
			title: 'Womens Forum',
			associationImage: '../../assets/svp.jpg',
			officeBearers: [
				{ name: 'Charlie Brown', position: 'Ward Gurkaar' },
				{ name: 'Emily Davis', position: 'Ward Secretary' },
			],
		},
		{
			slug: 'legion-of-mary',
			title: 'Legion Of Mary',
			associationImage: '../../assets/svp.jpg',
			officeBearers: [
				{ name: 'Charlie Brown', position: 'Ward Gurkaar' },
				{ name: 'Emily Davis', position: 'Ward Secretary' },
			],
		},
	];
	return pages.map(({ slug, title, associationImage, officeBearers }) => {
		return {
			params: { slug },
			props: { title,slug, associationImage, officeBearers },
		};
	});
}
const { title, slug, associationImage, officeBearers } = Astro.props;
---

<Layout title={`Associations | ${title}`}>
	<main class="mx-auto max-w-4xl overflow-hidden bg-white">
		<section id="associations" class="flex flex-col p-6 pb-4">
				<h1
					class="mb-4 border-l-4 border-natgeo-yellow pl-3 font-poppins text-3xl font-extrabold sm:text-4xl lg:text-6xl"
				>
				{t(`nav.${slug}`)}
				</h1>

			<section class="mx-6 mt-6">
				<div class="flex justify-center">
					<div class="max-w-md overflow-hidden rounded-md shadow-lg">
						<Image
							src={churchHeroImage}
							alt="Church Hero Image"
							class="h-auto w-full object-cover"
						/>
					</div>
				</div>

				{associations[slug].map((para) => <p class="my-4 text-justify text-base text-slate-700"> {para}</p>)}

				<h2
					class="mt-8 text-left font-poppins text-2xl font-bold text-slate-900"
				>
					Office Bearers
				</h2>
				<ul class="my-4 list-inside list-disc text-base text-slate-700">
					{
						officeBearers.map((bearer) => (
							<li class="text-left">
								<strong>{bearer.position}:</strong> {bearer.name}
							</li>
						))
					}
				</ul>
			</section>
		</section>
	</main>
</Layout>
