---
import { Image } from 'astro:assets';
import { getLangFromUrl, useTranslations } from '~/i18n/utils';
import { associations } from '~/constants/associations';
import { associationsKok } from '~/constants/associations-kok';
import { cn } from '~/helpers/cn';
import { Icon } from 'astro-icon/components';
import { socials } from '~/constants/social-media-handles';

//Images
import fallbackImage from '~/assets/landing-page/temp-logo.webp';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const { slug } = Astro.params;

const associationData = lang === 'kok' ? associationsKok : associations;

const association = associationData.find((assoc) => assoc.slug === slug);

const associationName = association?.slug;

const {
	associationImage,
	description,
	officeBearers = [],
} = association || {};

const social = {
	name: String,
	links: [{ key: String, value: String }],
};
---

<div class="mx-auto">
	<div class="mt-2">
		<div class="flex justify-center">
			<Image
				src={associationImage || fallbackImage}
				alt={`Members of ${association?.title} at Our Lady of Pompei Church`}
			/>
		</div>
		<h2
			class="mt-6 text-justify font-poppins text-2xl font-bold text-slate-900"
		>
			{t('associations.about-us')}
		</h2>
		<p
			class={cn(
				'text-md mt-4 text-justify font-geist leading-7 text-slate-700 ',
				{ 'font-noto-sans-kannada': lang === 'kok' },
			)}
			set:html={description}
		/>
		<h2 class="mt-6 text-left font-poppins text-2xl font-bold text-slate-900">
			{t('associations.office-bearers')}
		</h2>
		<ul class="my-4 list-inside list-disc text-base text-slate-700">
			{
				officeBearers.map((bearer) => (
					<li class="text-left">
						<strong>{t(`${bearer.position}`)}: </strong>
						{t(`${bearer.name}`)}
					</li>
				))
			}
		</ul>
		{
			socials.map(
				(social) =>
					social.name === associationName && (
						<h2 class="mt-6 text-left font-poppins text-2xl font-bold text-slate-900">
							{t('landing.follow-our-journey')}
						</h2>
					),
			)
		}
		<div class="flex gap-12">
			{
				socials.map(
					(social) =>
						social.name === associationName &&
						social.links.map((link) => (
							<div class="mb-9 mt-4 h-5 w-5 transition-transform hover:scale-110">
								<a href={link.value} target="_blank">
									<Icon name={link.key} size={52} />
								</a>
							</div>
						)),
				)
			}
		</div>
	</div>
</div>
