---
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import { associations } from "~/constants/associations";
import { associationsKok } from "~/constants/associations-kok";
import { cn } from "~/helpers/cn";
import { Icon } from "astro-icon/components";
import { socials } from "~/constants/social-media-handles";
import { Locale } from "~/enums/locale";
import { fetchAssociationBearers } from "~/services/association-bearers-data";
import NetworkImage from "~/components/ui/network-image.astro";
import { slugMappings } from "~/constants/association-slug-mappings";
import { getGroupImage } from "~/helpers/get-association-picture";
import type { AssociationOfficeBearers } from "~/models/association-bearers";
import { listEvents } from "~/services/events/list-events";
import EventCard from "~/components/event-card.astro";
import { getPlaceholderImage } from "~/helpers/get-placeholder-image";
import { titleMappings } from "~/constants/association-title-mapping";
import HoverableLink from "~/components/ui/hoverable-link.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { slug } = Astro.params as { slug: keyof typeof slugMappings };

const [enDetails, kokDetails] = (await Promise.all([
  fetchAssociationBearers(Locale.EN),
  fetchAssociationBearers(Locale.KOK),
])) as [AssociationOfficeBearers | null, AssociationOfficeBearers | null];

const associationDetails: AssociationOfficeBearers | undefined =
  lang === Locale.KOK
    ? kokDetails || enDetails || undefined
    : enDetails || kokDetails || undefined;

const associationData = lang === Locale.KOK ? associationsKok : associations;
const fallbackAssociationData =
  lang === Locale.KOK ? associations : associationsKok;

const association =
  associationData.find((assoc) => assoc.slug === slug) ??
  fallbackAssociationData.find((assoc) => assoc.slug === slug);

const title = association?.title ?? "";
const description = association?.description ?? [];

const currentAssociation = slugMappings[slug] ?? {};

const officeBearers = Object.entries(currentAssociation)
  .filter(([key]) => key !== "groupPicture")
  .map(([role, field]) => {
    const name =
      associationDetails?.[field as keyof AssociationOfficeBearers] ??
      enDetails?.[field as keyof AssociationOfficeBearers] ??
      kokDetails?.[field as keyof AssociationOfficeBearers];
    return { role, name };
  })
  .filter(({ name }) => name !== undefined && name !== null);

const currentSocial = socials.find((social) => social.name === slug);

const groupPictureField = slugMappings[slug]
  ?.groupPicture as keyof AssociationOfficeBearers;
const groupPicture = associationDetails?.[groupPictureField];

const eventsUrl =
  lang === Locale.KOK
    ? `/kok/associations/${slug}/events`
    : `/associations/${slug}/events`;

const allEvents = await listEvents({
  page: 1,
  pageSize: 100,
  sortBy: ["eventDate:desc"],
});
const englishTitle =
  associations.find((assoc) => assoc.slug === slug)?.title ??
  associationsKok.find((assoc) => assoc.slug === slug)?.title ??
  "";

const mappedTitle = titleMappings[englishTitle] ?? englishTitle;

const recentEvents =
  allEvents.events
    ?.filter((event) => event.associationName === mappedTitle)
    .slice(0, 2) || [];
const totalEventCount =
  allEvents.events?.filter((event) => event.associationName === mappedTitle)
    .length ?? 0;
---

<div class="mx-auto">
  <div class="mt-2 flex justify-center">
    <NetworkImage
      src={getGroupImage(associationDetails, slug)}
      alt={`Members of ${title} at Our Lady of Pompei Church`}
      width={(typeof groupPicture === "object" && groupPicture?.width) || 600}
      height={(typeof groupPicture === "object" && groupPicture?.height) || 400}
    />
  </div>

  <h2
    class={cn("mt-6 text-justify text-2xl font-bold text-slate-900", {
      "font-bold": lang === Locale.KOK,
    })}
  >
    {t("associations.about-us")}
  </h2>
  <p
    class={cn("rich-content mt-4 text-justify leading-7 text-slate-700 mb-4", {
      "font-normal": lang === Locale.KOK,
    })}
    set:html={description}
  />

  {
    officeBearers.length > 0 && (
      <>
        <h2
          class={cn("font-bold mt-1 text-left text-2xl text-slate-900", {
            "font-bold sm:pt-1": lang === Locale.KOK,
          })}
        >
          {t("associations.office-bearers")}
        </h2>
        <ul
          class={cn("my-4 list-inside list-disc text-base text-slate-700", {
            "font-normal sm:pt-1": lang === Locale.KOK,
          })}
        >
          {officeBearers.map((bearer) => (
            <li class="text-left">
              <span class="text-slate-700 font-semibold">
                {t(`${bearer.role}`)}:{" "}
              </span>{" "}
              {bearer.name}
            </li>
          ))}
        </ul>
      </>
    )
  }
  {
    currentSocial && (
      <>
        <h2
          class={cn("mt-2 text-left text-2xl font-bold text-slate-900", {
            "font-bold sm:pt-1": lang === Locale.KOK,
          })}
        >
          {t("landing.follow-our-journey")}
        </h2>
        <div class="flex gap-8 md:gap-12">
          {currentSocial.links.map((link) => (
            <div class="mb-9 mt-4 h-5 w-5 transition-transform hover:scale-105 duration-300">
              <a href={link.value} target="_blank" rel="noopener noreferrer">
                <Icon name={link.key} class="size-10 md:size-13" />
              </a>
            </div>
          ))}
        </div>
      </>
    )
  }

  {
    recentEvents.length > 0 && (
      <>
        <h2
          class={cn("mt-4 text-left text-2xl font-bold text-slate-900", {
            "font-bold sm:pt-1": lang === Locale.KOK,
          })}
        >
          {lang === Locale.KOK
            ? "ಸಂಘ್-ಸಂಸ್ಥ್ಯಾಚಿ ಘಡಿತಾಂ"
            : "Association Events"}
        </h2>

        <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 mt-4">
          {recentEvents.map((event) => (
            <EventCard
              eventName={event.englishTitle}
              eventNameKok={event.konkaniTitle}
              imageUrl={
                event.eventImage?.url
                  ? new URL(
                      event.eventImage?.url,
                      import.meta.env.PUBLIC_STRAPI_URL,
                    ).toString()
                  : getPlaceholderImage({ text: event.englishTitle })
              }
              imageWidth={event.eventImage?.width || 600}
              imageHeight={event.eventImage?.height || 400}
              shortDescriptionEn={event.shortDescriptionEn}
              shortDescriptionKok={event.shortDescriptionKok}
              facebookLink={event.facebookLink}
              slug={event.slug}
              instagramLink={event.instagramLink}
            />
          ))}
        </div>
      </>
    )
  }

  {
    totalEventCount > 2 && (
      <div class="flex justify-center">
        <HoverableLink href={eventsUrl} class="m-5">
          {t("ui.show-more-events")}
        </HoverableLink>
      </div>
    )
  }
</div>
