---
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import { associations } from "~/constants/associations";
import { associationsKok } from "~/constants/associations-kok";
import { cn } from "~/helpers/cn";
import { Icon } from "astro-icon/components";
import { socials } from "~/constants/social-media-handles";
import { Locale } from "~/enums/locale";
import { fetchAssociationBearers } from "~/services/association-bearers-data";
import NetworkImage from "~/components/ui/network-image.astro";
import { slugMappings } from "~/constants/association-slug-mappings";
import { getGroupImage } from "~/helpers/get-association-picture";
import type { AssociationOfficeBearers } from "~/models/association-bearers";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { slug } = Astro.params as { slug: keyof typeof slugMappings };

const [enDetails, kokDetails] = (await Promise.all([
  fetchAssociationBearers(Locale.EN),
  fetchAssociationBearers(Locale.KOK),
])) as [AssociationOfficeBearers | null, AssociationOfficeBearers | null];

const associationDetails: AssociationOfficeBearers | undefined =
  lang === Locale.KOK
    ? kokDetails || enDetails || undefined
    : enDetails || kokDetails || undefined;

const associationData = lang === Locale.KOK ? associationsKok : associations;
const fallbackAssociationData =
  lang === Locale.KOK ? associations : associationsKok;

const association =
  associationData.find((assoc) => assoc.slug === slug) ??
  fallbackAssociationData.find((assoc) => assoc.slug === slug);

const title = association?.title ?? "";
const description = association?.description ?? [];

const currentAssociation = slugMappings[slug] ?? {};

const officeBearers = Object.entries(currentAssociation)
  .filter(([key]) => key !== "groupPicture")
  .map(([role, field]) => {
    const name =
      associationDetails?.[field as keyof AssociationOfficeBearers] ??
      enDetails?.[field as keyof AssociationOfficeBearers] ??
      kokDetails?.[field as keyof AssociationOfficeBearers];
    return { role, name };
  })
  .filter(({ name }) => name !== undefined && name !== null);

const currentSocial = socials.find((social) => social.name === slug);

const groupPictureField = slugMappings[slug]
  ?.groupPicture as keyof AssociationOfficeBearers;
const groupPicture = associationDetails?.[groupPictureField];
---

<div class="mx-auto">
  <div class="mt-2 flex justify-center">
    <NetworkImage
      src={getGroupImage(associationDetails, slug)}
      alt={`Members of ${title} at Our Lady of Pompei Church`}
      width={(typeof groupPicture === "object" && groupPicture?.width) || 600}
      height={(typeof groupPicture === "object" && groupPicture?.height) || 400}
    />
  </div>

  <h2
    class={cn(
      "font-roboto mt-6 text-justify text-2xl font-bold text-slate-900",
      {
        "font-noto-sans-kannada font-bold": lang === Locale.KOK,
      },
    )}
  >
    {t("associations.about-us")}
  </h2>
  <p
    class={cn(
      "rich-content mt-4 text-justify font-geist font-light leading-7 text-slate-600 mb-4",
      {
        "font-noto-sans-kannada font-normal": lang === Locale.KOK,
      },
    )}
    set:html={description}
  />

  {
    officeBearers.length > 0 && (
      <>
        <h2
          class={cn(
            "font-roboto font-bold mt-2 text-left text-2xl text-slate-900",
            {
              "font-noto-sans-kannada font-bold sm:pt-1": lang === Locale.KOK,
            },
          )}
        >
          {t("associations.office-bearers")}
        </h2>
        <ul
          class={cn(
            "font-roboto my-4 list-inside list-disc text-base text-slate-600",
            {
              "font-noto-sans-kannada font-normal sm:pt-1": lang === Locale.KOK,
            },
          )}
        >
          {officeBearers.map((bearer) => (
            <li class="text-left">
              <span class="text-black">{t(`${bearer.role}`)}: </span>{" "}
              {bearer.name}
            </li>
          ))}
        </ul>
      </>
    )
  }

  {
    currentSocial && (
      <>
        <h2
          class={cn(
            "font-roboto mt-6 text-left text-2xl font-bold text-slate-900",
            {
              "font-noto-sans-kannada font-bold sm:pt-1": lang === Locale.KOK,
            },
          )}
        >
          {t("landing.follow-our-journey")}
        </h2>
        <div class="flex gap-12">
          {currentSocial.links.map((link) => (
            <div class="mb-9 mt-4 h-5 w-5 transition-transform hover:scale-110">
              <a href={link.value} target="_blank" rel="noopener noreferrer">
                <Icon name={link.key} size={52} />
              </a>
            </div>
          ))}
        </div>
      </>
    )
  }
</div>
