---
import Layout from "~/layouts/layout.astro";
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import NetworkImage from "~/components/ui/network-image.astro";
import { Locale } from "~/enums/locale";
import { cn } from "~/helpers/cn";
import { getAchiever } from "~/services/parishioners-achievements/get-achiever";
import StrapiBlocksRenderer from "~/components/ui/strapi-blocks-renderer";
import { getPlaceholderImage } from "~/helpers/get-placeholder-image";
import AdditionalImagesCarousel from "~/components/sections/parishioners-achievements/additional-images-carousel.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { slug } = Astro.params;

const achiever = await getAchiever(slug ?? "");

const achieverImage = achiever?.achieverImage ?? {
  url: getPlaceholderImage({ text: achiever?.englishName }),
  width: 600,
  height: 400,
};

const additionalImages = achiever?.additionalImages ?? [];
---

<Layout
  title=`Parishioners Achievements | ${achiever?.englishName ?? ""}`
  description={achiever?.enAchievement}
  image={achiever?.achieverImage?.url}
>
  <main class="mx-auto max-w-4xl overflow-hidden bg-white">
    <section id="parishioners-achievements" class="flex flex-col p-6 pb-4">
      <h1
        class={cn(
          "font-black border-natgeo-yellow mb-3 border-l-4 pl-3 text-3xl lg:text-4xl",
          {
            "font-bold": lang === Locale.KOK,
          },
        )}
      >
        {t("congratulations")}
      </h1>

      <div class="mt-2 md:h-[500px]">
        <NetworkImage
          src={achieverImage?.url}
          width={achieverImage?.width}
          height={achieverImage?.height}
          class="mx-auto md:w-auto md:h-full"
        />
      </div>

      <p class="mt-4 leading-7 text-slate-700">
        <StrapiBlocksRenderer content={achiever?.kokDescription ?? []} />
      </p>

      <div class="mt-5 pb-2 text-center italic text-red-600 text-lg font-medium">
        {t("warm-wishes")}
        <br />
        <span class="mt-1 block text-xl font-semibold text-gray-900">
          {t("parish-priest-and-parishioners")}
        </span>
      </div>

      {
        additionalImages?.length > 0 && (
          <>
            <div class="ml-1 mt-4 mb-3 w-full h-0.5 bg-natgeo-yellow rounded-md md:ml-2" />
            <h1 class="mb-4 mt-2 text-2xl font-bold lg:text-3xl">
              {t("pictures")}
            </h1>
            <AdditionalImagesCarousel additionalImages={additionalImages} />
          </>
        )
      }
    </section>
  </main>
</Layout>
