---
import { Image } from "astro:assets";
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import { Locale } from "~/enums/locale";
import type { MergedWardDetails } from "~/models/ward-details";
import NetworkImage from "~/components/ui/network-image.astro";
import { getPlaceholderImage } from "~/helpers/get-placeholder-image";
import { getGurkarTitle } from "~/helpers/get-gurkar-title";
import { getWardNameKok } from "~/helpers/get-ward-names-kok";

const lang = getLangFromUrl(Astro.url) as Locale;
const t = useTranslations(lang);
const { details } = Astro.props as unknown as { details: MergedWardDetails[] };

const slug = (name: string) =>
  name.toLowerCase().replace(/\s+/g, '-');
---

{details.map((ward) => (
  <div id={`ward-${slug(ward.wardName)}`} class="mb-12">

    <h2 class="text-3xl font-bold text-slate-900 md:text-left">
      {lang === Locale.KOK
        ? getWardNameKok(ward.wardName, lang)
        : ward.wardName}
    </h2>

    <p class="mt-2 font-semibold leading-7 text-gray-800 md:text-left">
      {lang === Locale.KOK
        ? `${t(`ward.${ward.patronName}`)} ${t("ward.patron")}`
        : `${t("ward.patron")} ${t(`ward.${ward.patronName}`)}`}
    </p>

    <div class="mt-6 grid grid-cols-2 gap-4 md:grid-cols-[4fr_3fr_3fr]">
      <div class="border border-gray-200 overflow-hidden">
        <div class="w-full aspect-[1/1.4] overflow-hidden">
          <Image
            src={ward.patronImage}
            alt={t("ward.patronAlt")}
            class="w-full h-full object-cover"
          /></div>

        <div class="p-4 md:hidden text-center">
          <p class="font-semibold text-base text-slate-900 mb-1">
            {t("ward.family")}
          </p>
          <p class="text-sm text-gray-600">{ward.familyCount}</p>
        </div>
      </div>

      <div class="border border-gray-200 overflow-hidden">
        <div class="w-full aspect-[1/1.4]">
          <NetworkImage
            src={
              ward.wardLeaderImage?.url
                ? new URL(
                    ward.wardLeaderImage.url,
                    import.meta.env.PUBLIC_STRAPI_URL
                  ).toString()
                : getPlaceholderImage()
            }
            alt={ward.wardLeader || t("ward.leaderAlt")}
            width={ward.wardLeaderImage?.width ?? 365}
            height={ward.wardLeaderImage?.height ?? 365}
            class="w-full h-full object-cover"
          />
        </div>
        <div class="p-3 text-center">
          <h3 class="font-bold text-base text-slate-900 mb-1">
            {ward.wardLeader}
          </h3>
          <p class="text-base text-slate-600">
            {getGurkarTitle(ward.wardLeaderSex, lang)}
          </p>
        </div>
      </div>

      <div class="col-span-2 grid grid-cols-2 gap-4 md:col-span-1 md:grid-cols-1">
        <div class="hidden md:flex border border-gray-200 p-4 items-center justify-center text-center">
          <div>
            <p class="font-semibold text-base text-slate-900 mb-1">
              {t("ward.family")}
            </p>
            <p class="text-sm text-gray-600">{ward.familyCount}</p>
          </div>
        </div>
        {ward.wardRepresentative1 && (
          <div class="border border-gray-200 p-2 flex items-center justify-center text-center">
            <div>
              <p class="font-semibold text-base text-slate-900 mb-1">
                {ward.wardRepresentative1}
              </p>
              <p class="text-base text-slate-600">{t("ward.pratinidi")}</p>
            </div>
          </div>
        )}
        {ward.wardRepresentative2 && (
          <div class="border border-gray-200 p-2 flex items-center justify-center text-center">
            <div>
              <p class="font-semibold text-base text-slate-900 mb-1">
                {ward.wardRepresentative2}
              </p>
              <p class="text-base text-slate-600">{t("ward.pratinidi")}</p>
            </div>
          </div>
        )}
      </div>
    </div>
  </div>
))}
