---
import { wards } from '~/constants/wards';
import { Image } from 'astro:assets';
import { getLangFromUrl, useTranslations } from '~/i18n/utils';
import { cn } from '~/helpers/cn';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="ward-details mx-auto">
  {wards.map((ward) => (
    <div class="mb-8 text-left">
			<h2 class={cn('mt-6 font-poppins text-3xl font-bold text-slate-900',
			{ 'font-noto-sans-kannada': lang === 'kok' },
			)}>
        {t(`nav.${ward.name}`)}
      </h2>
      <div class="flex flex-col items-center justify-center gap-4 sm:flex-row">
        <Image src={ward.patronImage} alt="" class="w-full max-w-md sm:w-1/2" />
        <Image src={ward.gurkarImage} alt="" class="w-full max-w-md sm:w-1/2" />
      </div>

      <p class="text-md mt-4 text-justify font-geist leading-7 text-slate-700 ">
        {ward.description}
      </p>

      <div class="mt-2 mb-6 font-noto-sans-kannada">
        <p>ಗುರ್ಕಾರ್: {ward.gurkarName}</p>
        <p>ಪ್ರತಿನಿದಿ: {ward.pratinidiName}</p>
      </div>
			<div class="mx-10 border-t-2 border-yellow-300"></div>

    </div>
  ))}
</div>
