---
import { wards } from '~/constants/wards';
import { Image } from 'astro:assets';
import { getLangFromUrl, useTranslations } from '~/i18n/utils';
import { cn } from '~/helpers/cn';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="ward-details">
  {
    wards.map((ward) => (
      <div class={cn('mb-8 text-left', {
            'font-noto-sans-kannada': lang === 'kok',
          })}>
        <h2
          class={cn('font-poppins text-3xl font-bold text-slate-900', {
            'font-noto-sans-kannada': lang === 'kok',
          })}
        >
          {t(`nav.${ward.name}`)}
        </h2>
        <p
          class={cn(
            'mt-1 mb-6 text-xm text-justify font-geist font-semibold leading-7 text-gray-800'
          )}
        >
          {lang === 'kok'
            ? `${t(`ward.${ward.patronName}`)} ${t('ward.patron')}`
            : `${t('ward.patron')} ${t(`ward.${ward.patronName}`)}`}
        </p>
        <div class="flex flex-col items-center justify-center gap-4 mb-6 md:flex-row lg:flex-row">
          <Image
            src={ward.patronImage}
            alt=""
            class="w-full max-w-xl sm:w-1/2 md:h-[410px] lg:h-[410px]"
          />

          <div
            class={cn(
              'hover:scale-[1.01] snap-start first:snap-align-none max-w-xs flex-shrink-0 border sm:w-64',
              'w-[230px] h-[410px]'
            )}
          >
            <div class="card-image">
              <Image
                src={ward.gurkarImage}
                alt={ward.gurkarName}
                class="h-[300px] w-full object-cover"
              />
            </div>
            <div class="card-content flex flex-1 flex-col justify-end space-y-1 p-3">
              <h3
                class="card-title pt-1 font-bold leading-snug text-slate-900 sm:text-lg"
              >
                {t(`ward.${ward.gurkarName}`)}
              </h3>
              <p class="card-subtitle line-clamp-3 text-slate-600 sm:text-sm">
                {t(`ward.${ward.gurkarTitle}`)}
              </p>
            </div>
          </div>
        </div>

        <h2 class="mx-4 mt-6 text-left font-poppins text-xl font-bold text-slate-900">
          {t('ward.pratinidi')}
        </h2>
        <ul class="my-4 list-inside list-disc text-base text-slate-700">
          <li class="mx-4 text-left">
            {t(`ward.${ward.pratinidiName1}`)}
          </li>
          {ward.pratinidiName2 && (
            <li class="mx-4 text-left">
              {t(`ward.${ward.pratinidiName2}`)}
            </li>
          )}
        </ul>
        <p class="mx-4 mt-6 text-left font-poppins text-xl font-bold text-slate-900">
          {t('ward.family')} : {ward.family}
        </p>
        <div class="mt-4 border-b-2 border-b-natgeo-yellow"></div>
      </div>
    ))
  }
</div>
