---
import { religiousPriests } from '~/constants/religious-vocations';
import { getLangFromUrl, useTranslations } from '~/i18n/utils';
import VocationCard from '~/components/vocation-card.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div
	class="xs:grid-cols-1 mx-auto grid w-full grid-cols-2 gap-x-20 gap-y-10 pt-10 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3"
>
	{
		religiousPriests.map((priest) => (
			<VocationCard
				imageUrl={priest.imageUrl}
				name={t(`priest.${priest.name}`)}
				ward={t(`priest.${priest.ward}`)}
				dob={priest.dob}
				dod={priest.dod}
				congregation={t(`priest.${priest.congregation}`)}
				parents={t(`priest.${priest.parents}`)}
				role={priest.role}
			/>
		))
	}
</div>
