---
import Layout from "~/layouts/layout.astro";
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import NetworkImage from "~/components/ui/network-image.astro";
import { Locale } from "~/enums/locale";
import { cn } from "~/helpers/cn";
import { getAchiever } from "~/services/parishioners-achievements/get-achiever";
import StrapiBlocksRenderer from "~/components/ui/strapi-blocks-renderer";
import { getPlaceholderImage } from "~/helpers/get-placeholder-image";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { slug } = Astro.params;

const achiever = await getAchiever(slug ?? "");

const achieverImage = achiever?.achieverImage ?? {
  url: getPlaceholderImage({ text: achiever?.englishName }),
  width: 600,
  height: 400,
};

const baseURL = import.meta.env.PUBLIC_STRAPI_URL;
const ogImage =
  achieverImage &&
  "formats" in achieverImage &&
  achieverImage.formats?.medium?.url
    ? new URL(achieverImage.formats.medium.url, baseURL).toString()
    : achieverImage?.url
      ? new URL(achieverImage.url, baseURL).toString()
      : getPlaceholderImage({
          width: 800,
          height: 600,
          text: achiever?.englishName || "Achiever",
        });
---

<Layout
  title=`${achiever?.englishName ?? ""}`
  description={achiever?.enAchievement}
  image={ogImage}
>
  <main class="mx-auto max-w-screen-lg overflow-hidden bg-white">
    <section id="parishioners-achievements" class="flex flex-col p-6 lg:p-8">
      <h1
        class={cn(
          "border-natgeo-yellow border-l-4 pl-3 text-left text-3xl lg:text-4xl font-black",
          {
            "pt-[13px] font-bold": lang === Locale.KOK,
          },
        )}
      >
        {t("achievement.congratulations")}
      </h1>

      <div class="md:h-[500px] mt-6">
        <NetworkImage
          src={achieverImage?.url}
          width={achieverImage?.width}
          height={achieverImage?.height}
          class="mx-auto md:w-auto md:h-full"
        />
      </div>

      <h2 class="my-4 text-center text-xl font-bold text-slate-900">
        {lang === Locale.EN ? achiever?.englishName : achiever?.konkaniName}
      </h2>

      <div class="leading-7 text-center">
        <StrapiBlocksRenderer
          content={achiever?.enDescription ?? []}
          paraClassName={cn("text-slate-800", {
            "font-roboto": lang === Locale.EN,
          })}
        />
      </div>

      <div
        class="mt-4 text-center italic text-[#CC0000] text-lg font-medium"
      >
        {t("achievement.warm-wishes")}
        <br />
        <span class="block text-base font-semibold text-gray-900">
          {t("parish-priest-and-parishioners")}
        </span>
      </div>
    </section>
  </main>
</Layout>
