---
import Layout from "~/layouts/layout.astro";
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import { listObituaries } from "~/services/obituaries/list-obituaries";
import { Locale } from "~/enums/locale";
import ObituaryCard from "~/components/ObituaryCard.tsx";
import { cn } from "~/helpers/cn";
import { getWardNameKok } from "~/helpers/get-ward-names-kok";
import placeholderImage from "~/assets/static-assets/blank.jpeg";

const { slug } = Astro.params; // Get the slug from the URL
const lang = getLangFromUrl(Astro.url) as Locale;
const t = useTranslations(lang);

const { obituaries } = await listObituaries({ pageSize: 1000 });
const selectedObituary = obituaries.find((item) => item.slug === slug);

if (!selectedObituary) {
  return Astro.redirect("/404", 302);
}

const baseURL = import.meta.env.PUBLIC_STRAPI_URL;
const absoluteImage = selectedObituary.image?.formats?.medium?.url
  ? new URL(selectedObituary.image.formats.medium.url, baseURL).toString()
  : selectedObituary.image?.url
    ? new URL(selectedObituary.image.url, baseURL).toString()
    : placeholderImage?.src;

const obituaryImage = selectedObituary.image?.url
  ? new URL(selectedObituary.image.url, baseURL).toString()
  : placeholderImage?.src;

const obituaryUrl = new URL(
  lang === Locale.EN ? `/obituary/${slug}` : `/kok/obituary/${slug}`,
  Astro.url,
).href;

const pageTitle = selectedObituary
  ? lang === Locale.EN
    ? `${selectedObituary.englishName}`
    : `${selectedObituary.konkaniName}`
  : "Obituary";
---

<Layout
  title={`${pageTitle} ${selectedObituary?.age ? `(${selectedObituary.age})` : ""}`}
  description={selectedObituary?.ward
    ? `${getWardNameKok(selectedObituary.ward, lang)} ${t("ward")}`
    : "Pompei Church Obituaries"}
  image={absoluteImage}
  url={obituaryUrl}
>
  <main class="mx-auto max-w-5xl overflow-hidden bg-white">
    <section class="flex flex-col p-6 lg:p-8">
      <h1
        class={cn(
          "font-black border-natgeo-yellow border-l-4 pl-3 text-3xl lg:text-4xl",
          { "pt-[13px] font-bold": lang === Locale.KOK },
        )}
      >
        {t("nav.obituary")}
      </h1>
      <p
        class={cn("py-6 lg:py-8 text-2xl font-bold italic text-red-600", {
          "font-semibold": lang === Locale.KOK,
        })}
      >
        {t("obituary.subtitle")}
      </p>

      <ObituaryCard
        client:load
        locale={lang}
        id={selectedObituary.id}
        name={lang === Locale.EN
          ? selectedObituary.englishName
          : selectedObituary.konkaniName}
        age={selectedObituary.age}
        relationType={selectedObituary.relationType}
        relationNameEn={selectedObituary.relationNameEn}
        relationNameKok={selectedObituary.relationNameKok}
        ward={selectedObituary.ward}
        dateOfDeath={selectedObituary.dateOfDeath}
        imageWidth={340}
        imageHeight={400}
        imageUrl={obituaryImage}
        slug={selectedObituary.slug}
        funeralDate={selectedObituary.funeralDate}
        homeTime={selectedObituary.homeTime}
        massTime={selectedObituary.massTime}
        funeralDetailsUpdatedOn={selectedObituary.funeralDetailsUpdatedOn}
        youtubeLink={selectedObituary.youtubeLink}
        className="mx-auto"
        autoFlip={true}
      />
    </section>
  </main>
</Layout>
