---
import Layout from "~/layouts/layout.astro";
import ObituaryList from "~/components/sections/obituary/obituary-list.astro";
import PushNotification from "~/components/push-notification.astro";
import SelectWardRedirect from "~/components/ui/SelectWardRedirect";
import Pagination from "~/components/pagination.astro";
import { getPlaceholderImage } from "~/helpers/get-placeholder-image";
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import { listObituaries } from "~/services/obituaries/list-obituaries";
import { Message } from "~/constants/message.ts";
import { Locale } from "~/enums/locale";
import { cn } from "~/helpers/cn";
import { getWardNameKok } from "~/helpers/get-ward-names-kok";
import { wards as allWards } from "~/constants/wards";
import { ITEMS_PER_PAGE } from "~/constants/index.ts";
import ObituarySearch from "~/components/ObituarySearch";

const url = new URL(Astro.url);
const lang = getLangFromUrl(Astro.url) as Locale;
const t = useTranslations(lang);

const selectedWard = url.searchParams.get("ward");
const normalizedWard = selectedWard?.toLowerCase().replace(/-/g, " ") ?? "";
const currentPage = Number(url.searchParams.get("p")) || 1;

const { obituaries } = await listObituaries({ pageSize: 1000 });

const filteredObituaries = normalizedWard
  ? obituaries.filter((item) => item.ward?.toLowerCase() === normalizedWard)
  : obituaries;

const formattedObituaries = filteredObituaries
  .map((obit) => {
    const rawDate = obit.dateOfDeath ? new Date(obit.dateOfDeath) : new Date(0);
    return {
      ...obit,
      formattedDate: obit.dateOfDeath
        ? rawDate.toLocaleDateString(lang === Locale.KOK ? "kok-IN" : "en-IN", {
            day: "2-digit",
            month: "long",
            year: "numeric",
          })
        : "Unknown Date",
      dateSort: rawDate,
    };
  })
  .sort((a, b) => b.dateSort.getTime() - a.dateSort.getTime());

const totalPages = Math.ceil(formattedObituaries.length / ITEMS_PER_PAGE);

const paginatedObituaries = formattedObituaries.slice(
  (currentPage - 1) * ITEMS_PER_PAGE,
  currentPage * ITEMS_PER_PAGE,
);

const uniqueWards = allWards.map((ward) => ({
  name: ward.wardName,
  label:
    lang === Locale.KOK ? getWardNameKok(ward.wardName, lang) : ward.wardName,
}));

const basePath = selectedWard
  ? `/obituary?ward=${selectedWard}&`
  : `/obituary?`;

const baseURL = import.meta.env.PUBLIC_STRAPI_URL;

const firstObituary = formattedObituaries?.[0];

const ogTitle =
  totalPages > 1
    ? lang === Locale.KOK
      ? `ಪಾನ್ ${currentPage} | ಫಿರ್ಗಜೆಂತ್ ಮರಣ್`
      : `Page ${currentPage} | Obituary`
    : lang === Locale.KOK
      ? "ಫಿರ್ಗಜೆಂತ್ ಮರಣ್"
      : "Obituary";

const ogDescription =
  lang === Locale.KOK ? "ಮೊಗಾಚೊ ಉಡಾಸ್" : "Tribute of love...";

const ogImageUrl = firstObituary?.image?.url
  ? new URL(firstObituary.image.url, baseURL).toString()
  : getPlaceholderImage({
      width: 800,
      height: 1200,
      text: firstObituary?.englishName || "Pompei Obituary",
    });
---

<Layout
  title={ogTitle}
  description={ogDescription}
  image={ogImageUrl}
  url={Astro.url.toString()}
>
  <main class="mx-auto max-w-5xl overflow-hidden bg-white">
    <section id="obituary" class="flex flex-col p-6 lg:p-8">
      <PushNotification />

      <div class="flex flex-col gap-4 pb-5">
        <h1
          class={cn(
            "border-natgeo-yellow border-l-4 pl-3 text-left text-3xl lg:text-4xl font-black mb-2",
            { "pt-3.25 font-bold": lang === Locale.KOK },
          )}
        >
          {t("nav.obituary")}
        </h1>

        <div
          class="flex flex-col gap-4 md:flex-row md:items-center md:justify-between"
        >
          <div class="order-1 w-full md:order-1 md:max-w-md">
            <ObituarySearch client:load locale={lang as Locale} />
          </div>

          <div class="order-2 w-full md:order-2 md:max-w-md md:ml-auto">
            <SelectWardRedirect
              client:load
              wards={uniqueWards}
              placeholder={t("ward.select-label")}
            />
          </div>
        </div>
      </div>

      <p
        class={cn("mb-4 text-2xl font-bold italic text-red-600", {
          "font-semibold": lang === Locale.KOK,
        })}
      >
        {t("obituary.subtitle")}
      </p>

      {
        paginatedObituaries.length > 0 ? (
          <>
            <ObituaryList obituaries={paginatedObituaries} />
            {totalPages >= 1 && (
              <Pagination
                currentPage={currentPage}
                totalPages={totalPages}
                basePath={basePath}
              />
            )}
          </>
        ) : (
          <div class="h-screen lg:h-full">
            <p class="py-8 text-center text-2xl font-semibold text-gray-700">
              {Message.OBITUARIES_NOT_FOUND_KOK}
            </p>
          </div>
        )
      }
    </section>
  </main>
</Layout>
