---
import Layout from "~/layouts/layout.astro";
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import ParishPastoralCouncilList from "~/components/sections/parish-pastoral-council/parish-pastoral-council-list.astro";
import type { ParishPastoralCouncil } from "~/models/parish-pastoral-council";
import { listPastoralCouncilData, getPastoralCouncilImage } from "~/services/parish-pastoral-council-data.ts";
import { Message } from "~/constants/message";
import { Locale } from "~/enums/locale";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const parishPastoralCouncilDataKok: ParishPastoralCouncil[] =
  (await listPastoralCouncilData({ page: 1, pageSize: 100, locale: Locale.KOK })) ||
  [];
const parishPastoralCouncilData: ParishPastoralCouncil[] =
  (await listPastoralCouncilData({ page: 1, pageSize: 100 })) || [];
const parishPastoralCouncilImage = await getPastoralCouncilImage();
---

<Layout title="Pompei Church | Parish Pastoral Council">
  <main class="mx-auto max-w-4xl overflow-hidden bg-white">
    <section id="pastoral-council" class="flex flex-col p-6 pb-4">
      <h1
        class="border-natgeo-yellow border-l-4 pl-3 text-3xl font-extrabold lg:text-4xl"
      >
        {t("parish.pastoral-parishad")}
      </h1>
      {
        parishPastoralCouncilDataKok.length > 0 ? (
          <ParishPastoralCouncilList
            pastoralCouncilData={parishPastoralCouncilDataKok}
            pastoralCouncilImage={parishPastoralCouncilImage}
          />
        ) : parishPastoralCouncilData.length > 0 ? (
          <ParishPastoralCouncilList
            pastoralCouncilData={parishPastoralCouncilData}
            pastoralCouncilImage={parishPastoralCouncilImage}
          />
        ) : (
          <ParishPastoralCouncilList
            pastoralCouncilData={parishPastoralCouncilData}
            pastoralCouncilImage={parishPastoralCouncilImage}
          />
          <p class="py-8 text-center text-3xl font-semibold">
            {Message.COUNCIL_MEMBERS_NOT_FOUND}
          </p>
        )
      }
    </section>
  </main>
</Layout>
