---
import Layout from "~/layouts/layout.astro";
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import { Locale } from "~/enums/locale";
import { cn } from "~/helpers/cn";
import AchievementsList from "~/components/sections/parishioners-achievements/parishioners-achievements-list.astro";
import { listParishionersAchievements } from "~/services/parishioners-achievements/list-achievements";
import Pagination from "~/components/pagination.astro";
import { getPaginationRange } from "~/helpers/get-pagination-range";
import { Message } from "~/constants/message";
import { ITEMS_PER_PAGE } from "~/constants/index.ts";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const currentPage = Number(Astro.url.searchParams.get("p")) || 1;

const { parishionersAchievements, pagination } =
  await listParishionersAchievements({
    page: currentPage,
    pageSize: ITEMS_PER_PAGE,
  });

const totalPages = pagination.pageCount;
---

<Layout
  title={t("nav.parishioners-achievements")}
  description={t("parishioners-achievements.subtitle")}
>
  <main class="mx-auto max-w-screen-lg overflow-hidden bg-white">
    <section id="parishioner-achievements" class="flex flex-col p-6 pb-4">
      <h1
        class={cn(
          "font-roboto font-black border-natgeo-yellow mb-4 border-l-4 pl-3 pt-2 text-3xl lg:text-4xl",
          {
            "font-noto-sans-kannada font-bold": lang === Locale.KOK,
          },
        )}
      >
        {t("nav.parishioners-achievements")}
      </h1>

      <p class="mb-3 text-justify text-lg text-slate-700">
        {t("parishioners-achievements.subtitle")}
      </p>

      {
        parishionersAchievements?.length > 0 ? (
          <>
            <AchievementsList achievementsList={parishionersAchievements} />
            <Pagination
              currentPage={currentPage}
              totalPages={totalPages}
              getPaginationRange={getPaginationRange}
            />
          </>
        ) : (
          <p class="py-8 text-center text-3xl font-semibold">
            {Message.ACHIEVEMENTS_NOT_FOUND_KOK}
          </p>
        )
      }
    </section>
  </main>
</Layout>
