---
import Layout from "~/layouts/layout.astro";
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import { Locale } from "~/enums/locale";
import { cn } from "~/helpers/cn";
import AchievementsList from "~/components/sections/parishioners-achievements/parishioners-achievements-list.astro";
import { listParishionersAchievements } from "~/services/parishioners-achievements/list-achievements";
import Pagination from "~/components/pagination.astro";
import { getPaginationRange } from "~/helpers/get-pagination-range";
import { Message } from "~/constants/message";
import Info from "~/assets/react-icons/info.svg?react";
import { achievementsPerPage } from "~/constants/entries-per-page";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const currentPage = Number(Astro.url.searchParams.get("p")) || 1;

const { parishionersAchievements, pagination } =
  await listParishionersAchievements({
    page: currentPage,
    pageSize: achievementsPerPage,
  });

const totalPages = pagination.pageCount;
---

<Layout title="Pompei Church | Parishioners Achievements" description={t("parishioners-achievements.subtitle")}>
  <main class="mx-auto max-w-4xl overflow-hidden bg-white">
    <section id="parishioner-achievements" class="flex flex-col p-6 pb-4">
      <h1
        class={cn(
          "font-roboto font-black border-natgeo-yellow mb-4 border-l-4 pl-3 pt-2 text-3xl lg:text-4xl",
          {
            "font-noto-sans-kannada font-bold": lang === Locale.KOK,
          },
        )}
      >
        {t("nav.parishioners-achievements")}
      </h1>

      <p class="text-justify text-lg text-slate-700">
        {t("parishioners-achievements.subtitle")}
      </p>

      <div class="flex w-full py-4 justify-center lg:justify-end">
        <a
          href="/kok/submit-achievement"
          class="inline-flex gap-2 px-4 py-2 rounded-lg border border-slate-200 text-blue-600 md:px-5 md:py-3"
        >
          <span class="text-blue-600">
            <Info />
          </span>
          <span class="text-lg font-semibold">
            {t("achievement.form-submission")}
          </span>
        </a>
      </div>

      {
        parishionersAchievements?.length > 0 ? (
          <>
            <AchievementsList achievementsList={parishionersAchievements} />
            <Pagination
              currentPage={currentPage}
              totalPages={totalPages}
              getPaginationRange={getPaginationRange}
            />
          </>
        ) : (
          <p class="py-8 text-center text-3xl font-semibold">
            {Message.ACHIEVEMENTS_NOT_FOUND_KOK}
          </p>
        )
      }
    </section>
  </main>
</Layout>
