---
import Layout from "~/layouts/layout.astro";
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import ParishPriestsAndDeaconsList from "~/components/sections/parish-priests-and-deacons/parish-priests-and-deacons-list.astro";
import type { ParishPriestsAndDeacons } from "~/models/parish-priest-and-deacon";
import { listParishPriestsAndDeacons } from "~/services/list-parish-priests-and-deacons-data.ts";
import { Message } from "~/constants/message.ts";
import { Locale } from "~/enums/locale";
import { ClergyRole } from "~/enums/clergy-role";
import { cn } from "~/helpers/cn";
import { getPlaceholderImage } from "~/helpers/get-placeholder-image";

const lang = getLangFromUrl(Astro.url) as Locale;
const t = useTranslations(lang);

let parishPriests: ParishPriestsAndDeacons[] =
  lang === Locale.EN
    ? await listParishPriestsAndDeacons({
        page: 1,
        pageSize: 100,
        filters: { role: { $eq: ClergyRole.PARISH_PRIEST } },
      })
    : (await listParishPriestsAndDeacons({
        page: 1,
        pageSize: 100,
        locale: Locale.KOK,
        filters: { role: { $eq: ClergyRole.PARISH_PRIEST } },
      })) || [];

if (parishPriests.length === 0) {
  parishPriests =
    lang === Locale.EN
      ? (await listParishPriestsAndDeacons({
          page: 1,
          pageSize: 100,
          locale: Locale.KOK,
          filters: { role: { $eq: ClergyRole.PARISH_PRIEST } },
        })) || []
      : (await listParishPriestsAndDeacons({
          page: 1,
          pageSize: 100,
          filters: { role: { $eq: ClergyRole.PARISH_PRIEST } },
        })) || [];
}

let deacons: ParishPriestsAndDeacons[] =
  lang === Locale.EN
    ? await listParishPriestsAndDeacons({
        page: 1,
        pageSize: 100,
        filters: { role: { $eq: ClergyRole.DEACON } },
      })
    : (await listParishPriestsAndDeacons({
        page: 1,
        pageSize: 100,
        locale: Locale.KOK,
        filters: { role: { $eq: ClergyRole.DEACON } },
      })) || [];

if (deacons.length === 0) {
  deacons =
    lang === Locale.EN
      ? (await listParishPriestsAndDeacons({
          page: 1,
          pageSize: 100,
          locale: Locale.KOK,
          filters: { role: { $eq: ClergyRole.DEACON } },
        })) || []
      : (await listParishPriestsAndDeacons({
          page: 1,
          pageSize: 100,
          filters: { role: { $eq: ClergyRole.DEACON } },
        })) || [];
}

const firstPriestImage = parishPriests[0]?.image || deacons[0]?.image;

const ogImage = firstPriestImage?.formats?.medium?.url
  ? new URL(
      firstPriestImage.formats.medium.url,
      import.meta.env.PUBLIC_STRAPI_URL,
    ).toString()
  : firstPriestImage?.url
    ? new URL(
        firstPriestImage.url,
        import.meta.env.PUBLIC_STRAPI_URL,
      ).toString()
    : getPlaceholderImage({
        width: 800,
        height: 1200,
        text: "Parish Priests and Deacons",
      });

const ogTitle =
  lang === Locale.KOK
    ? "ಫಿರ್ಗಜೆಚೆ ವಿಗಾರ್ ಅನಿ ದಿಯಾಕೊನ್"
    : "Parish Priests and Deacons";

const ogDescription =
  lang === Locale.KOK
    ? "ಫಿರ್ಗಜೆಚೊ ಶತಮಾನೋತ್ಸವ್ ಸಂಭ್ರಮ್ ಆಚರಣ್ ಕರ್ತನಾ ಪಾಟ್ಲ್ಯಾ ಶೆಂಬೊರ್ ವರ್ಸಾನಿಂ ಫಿರ್ಗಜೆಚ್ಯಾ ಭಾವಾರ್ಥಾಚಾ ಆತ್ಮಿಕ್ ಪಯ್ಣಾರ್ ತಶೆಂಚ್ ಸಾಮಾಜಿಕ್ ಆನಿ ಲೌಕಿಕ್ ಜಿಣಿಯೆಕ್ ಆಧಾರ್ ಜಾಲ್ಲ್ಯಾ ಫಿರ್ಗಜೆಚೆಂ ಸುಂಕಾಣ್ ಹಾತಿಂ ಘೆವ್ನ್ ಫಿರ್ಗಜ್ ಕುಟ್ಮಾo ಬರ‍್ಯಾ ರಿತಿನ್ ಚಲವ್ನ್ ವ್ಹರ್ನ್ ಆಮ್ಕಾಂ ಶತಮಾನೋತ್ಸವಾಚೆಂ ಭಾಗ್ ಪಳೊಂವ್ಕ್ ಫಾವೊ ಕೆಲ್ಲ್ಯಾ ಸರ್ವ್ ಫಿರ್ಗಜ್ ವಿಗಾರಾಂಚಿ ಅನಿ ದಿಯಾಕೊನಾಂಚಿ ಮೊಟ್ವಿ ಝಳಕ್."
    : "Here is a glimpse of the esteemed former parish priests and deacons who have nurtured our faith, enriched our community and individual lives, and upheld the cherished legacy of our church throughout these years.";
---

<Layout title={ogTitle} description={ogDescription} image={ogImage}>
  <main class="mx-auto max-w-screen-lg overflow-hidden bg-white">
    <section id="parish-priests-and-deacons" class="flex flex-col p-6 lg:p-8">
      <h1
        class={cn(
          "border-natgeo-yellow border-l-4 pl-3 text-left text-3xl lg:text-4xl font-black",
          {
            "pt-[13px] font-bold": lang === Locale.KOK,
          },
        )}
      >
        {t("nav.parish-priests-and-deacons")}
      </h1>
      <p class="py-4 text-lg text-justify font-normal text-slate-700">
        {t("pp.subtitle")}
      </p>
      <h2 class="mt-4 text-2xl font-semibold italic text-red-600 lg:text-3xl">
        {t("parish-priests")}
      </h2>
      {
        parishPriests.length > 0 ? (
          <ParishPriestsAndDeaconsList
            parishPriestsAndDeacons={parishPriests}
          />
        ) : (
          <p class="py-8 text-center text-3xl font-semibold">
            {Message.PARISH_PRIESTS_NOT_FOUND}
          </p>
        )
      }
      <h2 class="mt-10 text-2xl font-semibold italic text-red-600 lg:text-3xl">
        {t("deacons")}
      </h2>
      {
        deacons.length > 0 ? (
          <ParishPriestsAndDeaconsList parishPriestsAndDeacons={deacons} />
        ) : (
          <p class="py-8 text-center text-3xl font-semibold">
            {Message.DEACONS_NOT_FOUND}
          </p>
        )
      }
    </section>
  </main>
</Layout>
