---
import PompeichemFalkemList from "~/components/sections/pompeichem-falkem/pompeichem-falkem-list.astro";
import Layout from "~/layouts/layout.astro";
import Pagination from "~/components/pagination.astro";
import SelectYearRedirect from "~/components/ui/SelectYearRedirect";
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import type { PompeichemFalkem } from "~/models/pompeichem-falkem";
import { listMagazines } from "~/services/list-magazines";
import { Message } from "~/constants/message.ts";
import { cn } from "~/helpers/cn";
import { Locale } from "~/enums/locale";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const magazinesPerPage = 6;
const currentPage = Number(Astro.url.searchParams.get("p")) || 1;
const selectedYear = Astro.url.searchParams.get("year");

const { magazines, pagination } = await listMagazines({
  page: currentPage,
  pageSize: magazinesPerPage,
  year: selectedYear ?? undefined,
});

const { magazines: allMagazines } = await listMagazines({ page: 1, pageSize: 1000 });
const latestMagazineId = allMagazines?.[0]?.id;
const uniqueYears = Array.from(
  new Set(
    allMagazines
      .map((m) => (m.dateOfPublish ? new Date(m.dateOfPublish).getFullYear() : undefined))
      .filter((y): y is number => typeof y === "number" && !isNaN(y))
  )
).sort((a, b) => b - a);

const totalPages = pagination.pageCount;
const title = lang === Locale.KOK ? "ಪೊಂಪೈಚೆಂ ಫಾಲ್ಕೆಂ" : "Pompeichem Falkem";

const ogImageUrl = magazines[0]?.coverImage?.url
  ? new URL(
      magazines[0].coverImage.url,
      import.meta.env.PUBLIC_STRAPI_URL,
    ).toString()
  : undefined;
---

<Layout title={`${title}`} image={ogImageUrl}>
  <main class="mx-auto max-w-screen-lg overflow-hidden bg-white">
    <section class="flex flex-col p-6">
      <div class="flex flex-col gap-2 md:flex-row md:items-center md:justify-between mb-2">
        <h1
          class={cn(
            "font-black border-natgeo-yellow mb-2 md:mb-0 border-l-4 pl-3 text-3xl lg:text-4xl",
            {
              "pt-2 font-bold": lang === Locale.KOK,
            },
          )}
        >
          {t("nav.pompeichem-falkem")}
        </h1>

        {uniqueYears.length > 0 && (
          <div class="w-full md:w-64">
            <SelectYearRedirect client:load years={uniqueYears} placeholder={t("year.select-label")} allYearsLabel={t("year.all")}  />
          </div>
        )}
      </div>
      {
        magazines.length > 0 ? (
          <>
            <PompeichemFalkemList
              magazines={magazines as PompeichemFalkem[]}
              latestMagazineId={latestMagazineId}
            />
            <Pagination currentPage={currentPage} totalPages={totalPages} />
          </>
        ) : (
          <p class="py-8 text-center text-3xl font-semibold">
            {Message.MAGAZINES_NOT_FOUND}
          </p>
        )
      }
    </section>
  </main>
</Layout>