---
import { format } from 'date-fns-tz';
import ObituaryCard from '~/components/obituary-card.astro';
import { getLangFromUrl } from '~/i18n/utils';
import { getPlaceholderImage } from '~/helpers/get-placeholder-image';
import type { Obituary } from '~/models/obituary';

const { obituaries } = Astro.props as { obituaries: Obituary[] };
const lang = getLangFromUrl(Astro.url);
const obituaryDataFormatted = obituaries
  ?.map((obituary) => ({
    ...obituary,
    formattedDate: obituary.dateOfDeath
      ? format(new Date(obituary.dateOfDeath), 'dd-MM-yyyy')
      : 'Unknown Date',
    dateSort: obituary.dateOfDeath ? new Date(obituary.dateOfDeath) : new Date(0),
  }))
  .sort((a, b) => b.dateSort.getTime() - a.dateSort.getTime());
---


  <div class="mx-auto grid max-w-7xl gap-x-8 gap-y-10 px-4 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">


    {
      obituaryDataFormatted?.map((item) => (
        <ObituaryCard
          id={item.englishName}
          name={lang === 'en' ? item.englishName : item.konkaniName}
          imageUrl={
            item.image?.url
              ? new URL(item.image.url, import.meta.env.STRAPI_URL).toString()
              : getPlaceholderImage()
          }
          imageWidth={item.image?.width ?? 0}
          imageHeight={item.image?.height ?? 0}
          age={item.age}
          ward={item.ward}
          dateOfDeath={item.formattedDate}
          gender={item.gender}
          spouseName={item.spouseName}
          class="m-auto"
        />
      ))
    }
  </div>
</section>
