---
import { format } from 'date-fns-tz';
import ObituaryCard from '~/components/obituary-card.astro';

import { getPlaceholderImage } from '~/helpers/get-placeholder-image';
import type { Obituary } from '~/models/obituary';

const { obituaries } = Astro.props as { obituaries: Obituary[] };

const obituaryDataFormatted = obituaries?.map((obituary) => ({
	...obituary,
	formattedDate: obituary.dateOfDeath
		? format(new Date(obituary.dateOfDeath), 'dd-MM-yyyy')
		: 'Unknown Date',
}));
---

<div
	class="grid-cols-1 mx-auto grid w-full max-w-4xl gap-x-20 gap-y-10 md:grid-cols-2"
>
	{
		obituaryDataFormatted?.map((item) => (
			<ObituaryCard
				id={item.englishName}
				name={item.konkaniName}
				imageUrl={
					item.image.url
						? new URL(item.image.url, import.meta.env.STRAPI_URL).toString()
						: getPlaceholderImage()
				}
				imageWidth={item.image.width ?? 0}
				imageHeight={item.image.height ?? 0}
				description={item.description}
				age={item.age}
				ward={item.ward}
				dateOfDeath={item.formattedDate}
				class="m-auto"
			/>
		))
	}
</div>
